<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->

<!-- 导航条 -->
<div class="bg-white bread-crumb">
    <ul class="breadcrumb b-a m-b-n-xs lter b-b wrapper-md">
        <li><a ui-href="main"><i class="fa fa-home"></i>首页</a></li>
		<li class="active" ng-bind="我的待办">
			<a>我的待办</a>
		</li>
		<li class="active" ng-show="debt" ng-bind="债项方案">
			<a>债项方案</a>
		</li>
		<li class="active" ng-show="grant"  ng-bind="发放条件">
			<a>发放条件</a>
		</li>
    </ul>
</div>
<!-- 内容区域 -->
<div ng-hide="loading" class="wrapper-md content">
    <!-- 数据显示 -->
    <div class="wrapper-data row" style="padding: 0px  15px;">
        <div class="panel panel-default" style="border: none">
            <!-- 头部 -->
            <div class="panel-heading clearfix" style="padding-bottom: 0px; border-bottom:none;">
				<ul id="myTab" class="nav nav-tabs">
					<li class="active">
						<a data-toggle="tab" data-target="#toScheme" ng-click="getSchemeToDoTaskPage()" style="padding: 10px 50px ">
							债&nbsp;项&nbsp;方&nbsp;案
						</a>
					</li>
					<li class=""  style="">
						<a data-toggle="tab" data-target="#toGrant" ng-click="getGrantToDoTaskPage()" style="padding: 10px 50px ">
							发&nbsp;放&nbsp;条&nbsp;件
						</a>
					</li>
				</ul>
			</div>


			<div class="wrapper-data">
			<div class="tab-content">

				<!-- 债项方案 -->

			  <div role="tabpanel" class="tab-pane active" id="toScheme" style="padding: 0 50px;">
				  <!--<li style="    list-style: none;">
					  <div class=""  style="margin: 50px  50px 20px ;">
						  <form ng-submit="search()" class="form-inline ng-pristine ng-valid" role="form" style="margin-top: -15px;">
							  <div style="display: inline-block">时间区间：</div>
							  <div class="form-group" style="">
								  <select id="getSchemeId" class="form-control"  style="height:35px;width: 150px">
									  <option value="">按时间</option>
									  <option value="1">一星期</option>
									  <option value="2">一个月</option>
									  <option value="3">三个月</option>
								  </select>
							  </div>
						  </form>
					  </div>
				  </li>-->
				  <div class="table-responsive" id="scroll-2">
				  <table class="table table-striped b-t b-light" style="border: 1px solid #e0e4e8;width: 1600px;">
					  <thead>
					  <tr>
						  <th style="text-align: center">序号</th>
						  <th style="text-align: center">事项类型</th>
						  <th style="text-align: center">债项方案编号</th>
						  <th style="text-align: center">项目名称</th>
						  <th style="text-align: center">申请人名称</th>
						  <th style="text-align: center">方案主币种</th>
						  <th style="text-align: center">方案金额</th>
						  <th style="text-align: center">前手办理岗</th>
						  <th style="text-align: center">前手办理人</th>
						  <th style="text-align: center">启动人员</th>
						  <th style="text-align: center">审批进度</th>
						  <th style="text-align: center">待办创建时间</th>
					  </tr>
					  </thead>
					  <tbody>
					  <tr ng-repeat="x in pageInfoToDoSchemeTask.records">
						  <td style="text-align: center" ng-bind="$index+1">1</td>
						  <td style="text-align: center">
							  <a ui-sref="{{x.exAttributes.exAttributeB}}({taskId:x.taskId,piid:x.piid,ptid:x.ptid,adid:x.adid,aiid:x.aiid,starterId:x.starterId,debtCode:x.debtCode})" >
								  {{x.exAttributes.exAttributeH}}
							  </a>
						  </td>
						  <td style="text-align: center">{{x.debtCode}}</td>
						  <td style="text-align: center">{{x.projectName}}</td>
						  <td style="text-align: center">{{x.proposer}}</td>
						  <td style="text-align: center">{{x.mainCodeName}}</td>
						  <td style="text-align: center">{{x.solutionAmt | number:2}}</td>
						  <td style="text-align: center">{{x.roleIdProvider}}</td>
						  <td style="text-align: center">{{x.starterName}}</td>
						  <td style="text-align: center">{{x.userNameStart}}</td>
						  <td style="text-align: center">{{x.roleIdNow}}</td>
						  <td style="text-align: center">{{x.receivedDateString}}</td>

					  </tr>
					  </tbody>
				  </table>
				  </div>
				  <!--底部分页-->
				  <span data-ng-include=" 'src/tpl/pageInfoToDoSchemeTask.html' "></span>
			  </div>
				<!-- 发放审核 -->
				<div role="tabpanel" class="tab-pane" id="toGrant" style="padding: 0 50px;">
					<!--<li style="    list-style: none;">
						<div class=""  style="margin: 50px  50px 20px ;">
							<form ng-submit="search()" class="form-inline ng-pristine ng-valid" role="form" style="margin-top: -15px;">
								<div style="display: inline-block">时间区间：</div>
								<div class="form-group" style="">
									<select id="getGrantId" class="form-control" style="height:35px;width: 150px">
										<option value="">按时间</option>
										<option value="1">一星期</option>
										<option value="2">一个月</option>
										<option value="3">三个月</option>
									</select>
								</div>
							</form>
						</div>
					</li>-->
					<div class="table-responsive" id="scroll-2">
					<table class="table table-striped b-t b-light" style="border: 1px solid #e0e4e8;width: 1600px;">
						<thead>
						<tr>
							<th style="width:60px;text-align: center">序号</th>
							<th style="width:120px;text-align: center">事项类型</th>
							<th style="width:120px;text-align: center">发放条件编号</th>
							<th style="width:120px;text-align: center">申请人名称</th>
							<th style="width:120px;text-align: center">产品名称</th>
							<th style="width:120px;text-align: center">币种</th>
							<th style="width:120px;text-align: center">金额</th>
							<th style="width:120px;text-align: center">业务期限(天)</th>
							<th style="width:120px;text-align: center">前手办理岗</th>
							<th style="width:120px;text-align: center">前手办理人</th>
							<th style="width:120px;text-align: center">启动人员</th>
							<th style="width:120px;text-align: center">审批进度</th>
							<th style="width:130px;text-align: center">待办创建时间</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="item in pageInfoToDoGrantTask.records">
							<td style="text-align: center" ng-bind="$index+1">1</td>
							<td style="text-align: center">
								<a ui-sref="{{item.exAttributes.exAttributeB}}({taskId:item.taskId,piid:item.piid,ptid:item.ptid,adid:item.adid,aiid:item.aiid,starterId:item.starterId,grantCode:item.grantCode,debtCode:item.debtCode})" >
								{{item.exAttributes.exAttributeH}}
								</a>
							</td>
							<td style="text-align: center">{{item.grantCode}}</td>
							<td style="text-align: center">{{item.userName}}</td>
							<td style="text-align: center">{{item.name_}}</td>
							<td style="text-align: center">{{item.codeName}}</td>
							<td style="text-align: center">{{item.paymentAmt | number:2}}</td>
							<td style="text-align: center">{{item.scopeBusinPeriod}}</td>
							<td style="text-align: center">{{item.roleIdProvider}}</td>
							<td style="text-align: center">{{item.starterName}}</td>
							<td style="text-align: center">{{item.userNameStart}}</td>
							<td style="text-align: center">{{item.roleIdNow}}</td>
							<td style="text-align: center">{{item.receivedDateString}}</td>
						</tr>
						</tbody>
					</table>
					</div>
					<!--底部分页-->
					<span data-ng-include=" 'src/tpl/pageInfoToDoGrantTask.html' "></span>
				</div>

			</div>

			</div>
        </div>
    </div>

</div>

