<div class="fixed-navbar" ng-mouseleave="showOut()">
	<div class="pull-left">
		<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile" ng-click="hideLeft()" title="隐藏左侧菜单"></button>
		<h1 class="page-title">贸金管理系统</h1> 
		<!-- /.page-title -->
	</div>
	<!-- /.pull-left -->
	<div class="pull-right">
		<!-- /.ico-item -->
		<div class="ico-item fa fa-arrows-alt js__full_screen" id="view-fullscreen" ng-click="showFullScreen()" title="全屏模式"></div>
		<!-- /.ico-item fa fa-fa-arrows-alt -->
		<div class="ico-item toggle-hover js__drop_down {{toolsBoxShow}}" ng-mouseenter="showTools()" title="工具栏">
			<span class="fa fa-th js__drop_down_button"></span>
			<div class="toggle-content" ng-mouseleave="showOut()">
				<ul>
					<!-- <li>
						<a ui-sref = "main.sys.dept.tree"><i class="fa fa-github"></i><span class="txt">调度中心</span></a>
					</li> -->
					<li>
						<a ui-sref = "main.sys.user.list"><i class="glyphicon glyphicon-cog"></i><span class="txt">管理员管理</span></a>
					</li>
					<li>
						<a ui-sref="main.sys.dept.list"><i class="glyphicon glyphicon-flag"></i><span class="txt">机构管理</span></a>
					</li>
					<li>
						<a ui-sref="main.biz.cust.list"><i class="glyphicon glyphicon-user"></i><span class="txt">客户信息查询</span></a>
					</li>
					<li>
						<a ui-sref="main.post.productType.list"><i class="fa fa-amazon"></i><span class="txt">产品种类管理</span></a>
					</li>
					<!-- <li>
						<a ui-sref="javascript:void(0)"><i class="fa fa-dropbox"></i><span class="txt">事后配置</span></a>/
					</li> -->
				</ul>
				<h3 class="read-more">快捷方式</h3>
			</div>
			<!-- /.toggle-content -->
		</div>
		<!-- /.ico-item -->
		<a href="javascript:void(0)" class="ico-item fa fa-envelope notice-alarm js__toggle_open" ng-mouseenter="showMessage()" title="系统消息" data-target="#message-popup"></a>
		<a href="javascript:void(0)" class="ico-item pulse" title="系统公告" ng-mouseenter="showNotification()"><span class="ico-item fa fa-bell notice-alarm js__toggle_open" data-target="#notification-popup"></span></a>
		<a href="javascript:void(0)" class="ico-item fa fa-power-off js__logout" title="退出系统" ng-click="logout()"></a>
	</div>
	<!-- /.pull-right -->
</div>

<!--
	作者：394008115@qq.com
	时间：2018-06-06
	描述：头部消息显示区域
-->
<div id="notification-popup" class="notice-popup js__toggle {{notificationShow}}" data-space="75" ng-mouseenter="showNotification()">
	<h2 class="popup-title">您的通知消息</h2>
	<!-- /.popup-title -->
	<div class="content" ng-mouseleave="showOut()" style="height: 400px;">
		<ul class="notice-list">
			<li>
				<a href="javascript:void(0)">
					<span class="avatar"><img src="../../res/picture/b6a80be41f334f49b6e6cfd5891b26a8.gif" alt=""></span>
					<span class="name">John Doe</span>
					<span class="desc">Like your post: “Contact Form 7 Multi-Step”</span>
					<span class="time">10 min</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span class="avatar"><img src="../../res/picture/b6a80be41f334f49b6e6cfd5891b26a8.gif" alt=""></span>
					<span class="name">Anna William</span>
					<span class="desc">Like your post: “Facebook Messenger”</span>
					<span class="time">15 min</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span class="avatar bg-warning"><i class="fa fa-warning"></i></span>
					<span class="name">Update Status</span>
					<span class="desc">Failed to get available update data. To ensure the please contact us.</span>
					<span class="time">30 min</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span class="avatar"><img src="../../res/picture/1aacd00b4b9f4100a021b5a6080e7c94.gif" alt=""></span>
					<span class="name">Jennifer</span>
					<span class="desc">Like your post: “Contact Form 7 Multi-Step”</span>
					<span class="time">45 min</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span class="avatar"><img src="../../res/picture/b6a80be41f334f49b6e6cfd5891b26a8.gif" alt=""></span>
					<span class="name">Michael Zenaty</span>
					<span class="desc">Like your post: “Contact Form 7 Multi-Step”</span>
					<span class="time">50 min</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span class="avatar"><img src="../../res/picture/b6a80be41f334f49b6e6cfd5891b26a8.gif" alt=""></span>
					<span class="name">Simon</span>
					<span class="desc">Like your post: “Facebook Messenger”</span>
					<span class="time">1 hour</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span class="avatar bg-violet"><i class="fa fa-flag"></i></span>
					<span class="name">Account Contact Change</span>
					<span class="desc">A contact detail associated with your account has been changed.</span>
					<span class="time">2 hours</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span class="avatar"><img src="../../res/picture/b6a80be41f334f49b6e6cfd5891b26a8.gif" alt=""></span>
					<span class="name">Helen 987</span>
					<span class="desc">Like your post: “Facebook Messenger”</span>
					<span class="time">Yesterday</span>
				</a>
			</li>
		</ul>
		<!-- /.notice-list -->
		<a ng-click="show-more()" class="notice-read-more">查看更多 <i class="fa fa-angle-down"></i></a>
	</div>
	<!-- /.content -->
</div>
<!-- /#notification-popup -->

<div id="message-popup" class="notice-popup js__toggle {{messagePopupShow}}" data-space="75"  ng-mouseenter="showMessage()">
	<h2 class="popup-title">收到的系统消息<a href="#" class="pull-right text-danger">新 消息</a></h2>
	<!-- /.popup-title -->
	<div class="content" ng-mouseleave="showOut()" style="height: 400px;">
		<ul class="notice-list">
			<li>
				<a href="javascript:void(0)">
					<span class="avatar"><img src="../../res/picture/b6a80be41f334f49b6e6cfd5891b26a8.gif" alt=""></span>
					<span class="name">John Doe</span>
					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
					<span class="time">10 min</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span class="avatar"><img src="../../res/picture/b6a80be41f334f49b6e6cfd5891b26a8.gif" alt=""></span>
					<span class="name">Harry Halen</span>
					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
					<span class="time">15 min</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span class="avatar"><img src="../../res/picture/b6a80be41f334f49b6e6cfd5891b26a8.gif" alt=""></span>
					<span class="name">Thomas Taylor</span>
					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
					<span class="time">30 min</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span class="avatar"><img src="../../res/picture/1aacd00b4b9f4100a021b5a6080e7c94.gif" alt=""></span>
					<span class="name">Jennifer</span>
					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
					<span class="time">45 min</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span class="avatar"><img src="../../res/picture/b6a80be41f334f49b6e6cfd5891b26a8.gif" alt=""></span>
					<span class="name">Helen Candy</span>
					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
					<span class="time">45 min</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span class="avatar"><img src="../../res/picture/1aacd00b4b9f4100a021b5a6080e7c94.gif" alt=""></span>
					<span class="name">Anna Cavan</span>
					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
					<span class="time">1 hour ago</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span class="avatar bg-success"><i class="fa fa-user"></i></span>
					<span class="name">Jenny Betty</span>
					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
					<span class="time">1 day ago</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<span class="avatar"><img src="../../res/picture/1aacd00b4b9f4100a021b5a6080e7c94.gif" alt=""></span>
					<span class="name">Denise Peterson</span>
					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>
					<span class="time">1 year ago</span>
				</a>
			</li>
		</ul>
		<!-- /.notice-list -->
		<a href="javascript:void(0)" class="notice-read-more">查看更多 <i class="fa fa-angle-down"></i></a>
	</div>
	<!-- /.content -->
</div>
<!-- /#message-popup -->
<div id="color-switcher">
	<!-- .btn-switcher -->
	<div id="color-switcher-content" class="content">
		<a href="javascript:void(0)" data-color="red" class="item js__change_color"><span class="color" style="background-color: #f44336;"></span><span class="text">Red</span></a>
		<a href="javascript:void(0)" data-color="violet" class="item js__change_color"><span class="color" style="background-color: #673ab7;"></span><span class="text">Violet</span></a>
		<a href="javascript:void(0)" data-color="dark-blue" class="item js__change_color"><span class="color" style="background-color: #3f51b5;"></span><span class="text">Dark Blue</span></a>
		<a href="javascript:void(0)" data-color="blue" class="item js__change_color active"><span class="color" style="background-color: #304ffe;"></span><span class="text">Blue</span></a>
		<a href="javascript:void(0)" data-color="light-blue" class="item js__change_color"><span class="color" style="background-color: #2196f3;"></span><span class="text">Light Blue</span></a>
		<a href="javascript:void(0)" data-color="green" class="item js__change_color"><span class="color" style="background-color: #4caf50;"></span><span class="text">Green</span></a>
		<a href="javascript:void(0)" data-color="yellow" class="item js__change_color"><span class="color" style="background-color: #ffc107;"></span><span class="text">Yellow</span></a>
		<a href="javascript:void(0)" data-color="orange" class="item js__change_color"><span class="color" style="background-color: #ff5722;"></span><span class="text">Orange</span></a>
		<a href="javascript:void(0)" data-color="chocolate" class="item js__change_color"><span class="color" style="background-color: #795548;"></span><span class="text">Chocolate</span></a>
		<a href="javascript:void(0)" data-color="dark-green" class="item js__change_color"><span class="color" style="background-color: #263238;"></span><span class="text">Dark Green</span></a>
		<span id="color-reset" class="btn-restore-default js__restore_default">Reset</span>
	</div>
	<!-- /.content -->
</div>
<!-- #color-switcher -->
<script type="text/javascript">
	
</script>
