/** Login Configuration for the JAAS Sample Application **/

Basic {
   com.matrix.engine.service.authentication.DefaultLoginModule required debug=false;
};
LDAP {
   com.matrix.engine.service.authentication.LdapLoginModule required debug=false;
};
FILE {
   com.matrix.engine.service.authentication.FileLoginModule required debug=false;
};

RDBMS {
   com.matrix.engine.service.authentication.EmptyLoginModule required debug=false;
};

