<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.BizCheckPlanMapper">
  <select id="selectIdPage" resultType="java.lang.Long">
		select id_ from biz_check_plan
		<where>
			<if test="cm.ckName != null and cm.ckName != ''">
				and CK_NAME = #{cm.ckName}
			</if>
			<if test="cm.ckTime != null and cm.ckTime != ''">
				and CK_INTERVAL_TIME = #{cm.ckTime}
			</if>
			<if test="cm.classfyLevelId != null and cm.classfyLevelId != ''">
				and CLASSFY_LEVEL_ID = #{cm.classfyLevelId}
			</if>
			<if test="cm.enable != null and cm.enable != ''">
				and enable_ = #{cm.enable}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (CK_NAME like '%'||#{cm.keyword}||'%' )
			</if>
		</where>
	</select>
		
</mapper>