<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.BizMsgMapper">
  <select id="selectIdPage" resultType="java.lang.Long">
		select id_ from sys_msg
		<where>
			<if test="cm.type != null and cm.type != ''">
				and TYPE_ = #{cm.type}
			</if>
			<if test="cm.phone != null and cm.phone != ''">
				and PHONE_ = #{cm.phone}
			</if>
			<if test="cm.content != null and cm.content != ''">
				and CONTENT_ = #{cm.content}
			</if>
			<if test="cm.sendState != null and sendState != ''">
				and SEND_STATE = #{cm.content}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (SEND_STATE like '%'||#{cm.keyword}||'%')
			</if>
		</where>
	</select>
		
</mapper>