<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.BizRiskClassifyMapper">
  <select id="selectIdPage" resultType="java.lang.Long">
		select id_ from biz_risk_classify
		<where>
			<if test="cm.enable != null and cm.enable != ''">
				and enable_ = #{cm.enable}
			</if>
			<if test="cm.clCode != null and cm.clCode != ''">
				and cl_code = #{cm.clCode}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (cl_name like '%'||#{cm.keyword}||'%')
			</if>
		</where>
	</select>
		
</mapper>