<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.SysDicTypeMapper">
	<select id="selectIdPage" resultType="java.lang.Long">
		select id_ from sys_dic_type
		<where>
			<if test="cm.sysFlag != null">
				and sys_flag=#{cm.sysFlag}
			</if>
			<if test="cm.enable != null and cm.enable != ''">
				and enable_ = #{cm.enable}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (code_text like #{cm.keyword}"%" OR code_ like
				#{cm.keyword}"%")
			</if>
		</where>
	</select>
	<resultMap id="dicTypeCodeMap" type="org.ibase4j.model.SysDicType"
		autoMapping="true">
		<id column="ID_" property="id" />
		<result column="code_" property="code" javaType="String"
			jdbcType="VARCHAR" />
	</resultMap>
	<select id="queryByCode" resultMap="dicTypeCodeMap">
		select id_ , code_
		from
		sys_dic_type
		where
		code_ = #{account , jdbcType=VARCHAR}
	</select>
	<resultMap id="dicTypeCodeTextMap" type="org.ibase4j.model.SysDicType"
		autoMapping="true">
		<id column="ID_" property="id" />
		<result column="code_text" property="codeText" javaType="String"
			jdbcType="VARCHAR" />
	</resultMap>
	<select id="queryByCodeText" resultMap="dicTypeCodeTextMap">
		select id_ , code_text
		from
		sys_dic_type
		where
		code_text = #{account , jdbcType=VARCHAR}
	</select>
</mapper>