<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.SysDeptMapper">
	<select id="selectIdPage" resultType="java.lang.Long">
		select id_ from sys_dept
		<where>
			<if test="cm.parentCode != null and cm.parentCode != ''">
				and PARENT_CODE = #{cm.parentCode}
			</if>
			<if test="cm.sortNo != null and cm.sortNo != ''">
				and sort_no = #{cm.sortNo}
			</if>
			<if test="cm.type != null and cm.type != ''">
				and type_ = #{cm.type}
			</if>
			<if test="cm.enable != null and cm.enable != ''">
				and enable_ = #{cm.enable}
			</if>
			<if test="cm.code != null and cm.code != ''">
				and code_ = #{cm.code}
			</if>
			<if test="cm.addr != null and cm.addr != ''">
				and addr_ = #{cm.addr}
			</if>
			<if test="cm.tel != null and cm.tel != ''">
				and tel_ = #{cm.tel}
			</if>
			<if test="cm.bizLicenseNo != null and cm.bizLicenseNo != ''">
				and BIZ_LICENSE_NO = #{cm.bizLicenseNo}
			</if>
			<if test="cm.orgCertNo != null and cm.orgCertNo != ''">
				and ORG_CERT_NO = #{cm.orgCertNo}
			</if>
			<if test="cm.parentName != null and cm.parentName != ''">
				and PARENT_NAME = #{cm.parentName}
			</if>
			<if test="cm.province != null and cm.province != ''">
				and PROVINCE_ = #{cm.province}
			</if>
			<if test="cm.city != null and cm.city != ''">
				and CITY_ = #{cm.city}
			</if>
			<if test="cm.leaf != null and cm.leaf != ''">
				and LEAF_ = #{cm.leaf}
			</if>
			<if test="cm.district != null and cm.district != ''">
				and DISTRICT_ = #{cm.district}
			</if>
			<if test="cm.finLicenseNo != null and cm.finLicenseNo != ''">
				and FIN_LICENSE_NO = #{cm.finLicenseNo}
			</if>
			<if test="cm.unitId != null and cm.unitId != ''">
				and UNIT_ID = #{cm.unitId}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (dept_name like '%'||#{cm.keyword}||'%' or code_ like '%'||#{cm.keyword}||'%')
			</if>
		</where>
	</select>
	<select id="getByEditDeptName" parameterType="org.ibase4j.model.SysDept"
		resultType="java.lang.Long">
		select id_
		from
		sys_dept
		where
		dept_name = #{deptName,jdbcType=VARCHAR}
		and
		id_ != #{deptId,jdbcType=INTEGER}
	</select>
	
	<resultMap id="deptMap" type="org.ibase4j.model.SysDept"
		autoMapping="true">
		<id column="ID_" property="id" />
		<result column="dept_name" property="deptName" javaType="String"
			jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="queryByDeptName" resultMap="deptMap">
		select id_ , dept_name
		from
		sys_dept
		where
		dept_name = #{deptName , jdbcType=VARCHAR}
	</select>
	
	<resultMap id="codeMap" type="org.ibase4j.model.SysDept"
		autoMapping="true">
		<id column="ID_" property="id" />
		<result column="code_" property="code" javaType="String"
			jdbcType="VARCHAR" />
		<result column="DEPT_NAME" property="deptName" javaType="String"
			jdbcType="VARCHAR" />
		<result column="PARENT_CODE" property="parentCode" javaType="String"
			jdbcType="VARCHAR" />	
		<result column="LEAF_" property="leaf" javaType="Integer"
			jdbcType="INTEGER" />
		<result column="TYPE_" property="type" javaType="Integer"
			jdbcType="INTEGER" />
		<result column="PROVINCE_" property="province" javaType="String"
			jdbcType="VARCHAR" />
		<result column="CITY_" property="city" javaType="String"
			jdbcType="VARCHAR" />
		<result column="UNIT_ID" property="unitId" javaType="String"
				jdbcType="VARCHAR" />
		<result column="DISTRICT_" property="district" javaType="String"
			jdbcType="VARCHAR" />
		<result column="ADDR_" property="address" javaType="String"
			jdbcType="VARCHAR" />
		<result column="SORT_NO" property="sortNo" javaType="Integer"
			jdbcType="INTEGER" />
	</resultMap>
	
	<select id="queryDeptByCode" resultMap="codeMap">
		select id_ ,code_,DEPT_NAME,PARENT_CODE,UNIT_ID,ADDR_,TYPE_,FIN_LICENSE_NO,BIZ_LICENSE_NO,ORG_CERT_NO,LEAF_
		from
		sys_dept
		where
		code_ = #{code , jdbcType=VARCHAR}
		order by sort_no
	</select>
</mapper>