<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.SysEmailTemplateMapper">
	<select id="selectIdPage" resultType="java.lang.Long">
		select id_ from sys_email_template
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (email_name like CONCAT('%',#{cm.keyword},'%'))
			</if>
		</where>
	</select>
	<resultMap	id="emailConfigMap" type="org.ibase4j.model.SysEmailTemplate" autoMapping="true">
	<id column = "ID_" property = "id"/>
	<result column = "email_name" property = "emailName" javaType = "String" jdbcType = "VARCHAR"/>
	</resultMap>
	<select id = "queryByEmailConfigName" resultMap="emailConfigMap">
		select id_ , email_name 
		from 
		sys_email_template
		where 
		email_name = #{account , jdbcType=VARCHAR}
	</select>
</mapper>
