<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.SysEventMapper">
	<select id="selectIdPage" parameterType="java.util.Map"
		resultType="java.lang.Long">
		select id_ from sys_event_log
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and ACCOUNT_ like '%'||#{cm.keyword}||'%'
			</if>
		</where>
	</select>
	<resultMap id="eventMap" type="org.ibase4j.model.SysEvent"
		autoMapping="true">
		<id column="ID_" property="id" />
		<result column="account_" property="account" javaType="String"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" javaType="Date"
			jdbcType="DATE" />
	</resultMap>
	<select id="queryByAccount" parameterType="Map" resultMap="eventMap">
		select account_ , create_time , id_ 
		from sys_event_log
		where account_= #{account, jdbcType=VARCHAR}
		order by create_time desc
	</select>
</mapper>