<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.SysRoleMapper">
	<select id="selectIdPage" resultType="java.lang.Long">
		select id_ from sys_role
		<where>
			<if test="cm.deptCode != null">
				and DEPT_CODE = #{cm.deptCode}
			</if>
			<if test="cm.keyword != null">
				and role_name like '%'||#{cm.keyword}||'%'
			</if>
		</where>
	</select>
	<resultMap id="roleMap" type="org.ibase4j.model.SysRole"
		autoMapping="true">
		<id column="ID_" property="id" />
		<result column="role_name" property="roleName" javaType="String"
			jdbcType="VARCHAR" />
	</resultMap>

	<select id="queryByAccount" resultMap="roleMap">
		select id_ , role_name
		from
		sys_role
		where
		role_name = #{account , jdbcType=VARCHAR}
	</select>
	<resultMap id="codeMap" type="org.ibase4j.model.SysRole"
		autoMapping="true">
		<id column="ID_" property="id" />
		<result column="code_" property="code" javaType="String"
			jdbcType="VARCHAR" />
	</resultMap>

	<select id="queryByCode" resultMap="roleMap">
		select id_ , code_
		from
		sys_role
		where
		code_ = #{code , jdbcType=VARCHAR}
	</select>

	<resultMap id="roleTypeMap" type="org.ibase4j.model.SysRole"
		autoMapping="true">
		<id column="ID_" property="id" />
		<result column="role_name" property="roleName" javaType="String"
			jdbcType="VARCHAR" />
		<result column="DEPT_CODE" property="deptCode" javaType="String"
			jdbcType="VARCHAR" />
		<result column="ROLE_TYPE" property="roleType" javaType="Integer"
			jdbcType="INTEGER" />
		<result column="ENABLE_" property="enable" javaType="Integer"
			jdbcType="INTEGER" />
	</resultMap>

	<select id="queryByRoleType" resultMap="roleTypeMap">
		select id_ , role_name ,
		DEPT_CODE , role_type , enable_
		from
		sys_role
		where
		role_type =
		#{roleType , jdbcType=INTEGER}
		and enable_=1
	</select>

	<resultMap id="powerTypeMap" type="org.ibase4j.model.SysRole"
		autoMapping="true">
		<id column="ID_" property="id" />
		<result column="role_name" property="roleName" javaType="String"
			jdbcType="VARCHAR" />
		<result column="DEPT_CODE" property="deptCode" javaType="String"
			jdbcType="VARCHAR" />
		<result column="role_type" property="roleType" javaType="Integer"
			jdbcType="INTEGER" />
		<result column="enable_" property="enable" javaType="Integer"
			jdbcType="INTEGER" />
	</resultMap>

	<select id="queryByPowerType" resultMap="powerTypeMap">
		select id_ , role_name ,
		DEPT_CODE , role_type , enable_
		from
		sys_role
		where
		role_type =
		#{sysRole , jdbcType=INTEGER}
	</select>
</mapper>