<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->

<!-- 导航条 -->
<div class="bg-white bread-crumb">
    <ul class="breadcrumb b-a m-b-n-xs lter b-b wrapper-md">
        <li><a ui-href="main"><i class="fa fa-home"></i> 首页</a></li>
        <li class="active" ng-bind="title">机构列表</li>
    </ul>
</div>

<!-- 加载提醒 -->
<div ng-show="loading" class="text-center m-t-md text-lg"><i class="fa fa-spin fa-spinner"></i> 数据加载中...</div>

<!-- 内容区域 -->
<div ng-hide="loading" class="wrapper-md content">
    <!-- 数据显示 -->
    <div class="wrapper-data">
        <div class="panel panel-default">
            <!-- 头部 -->
            <div class="panel-heading clearfix">
            	<a ui-sref="main.sys.dept.tree" class="btn2 btn-info pull-right" style="background-color: #19a9d5">
		   		<i class="icon-social-dropbox m-r-sm text-md"></i>树模式</a>
		 		<a ui-sref="main.sys.dept.list" class="btn2 btn-info pull-right">
	        	<i class="icon-screen-tablet m-r-sm text-md"></i>列表模式</a>
	        	
                <!--<a ui-sref="main.sys.dept.create" class="btn btn-info pull-right" style="margin-right:20px;">
                    <i class="icon-user-follow m-r-sm text-md"></i>添加机构</a>-->
                <div class="row">
                    <div class="col-sm-4" id="deptTree">
                   		<ul id="tree" edittree class="ztree" style="border:#cccccc 1px solid;background-color:#efefef;overflow-y:auto;width:400px;min-height:400px;"></ul>  
                	</div>
                    <!--添加新机构的展示#efefef-->
                    <div id="ex" class="col-sm-6"  style="margin-top:3em;margin-left:3em;background-color:#e3e3e3;display: none;">
                        <form class="form-horizontal"  name="user_form">
                            <!--用户名-->
                            <div class="form-dept">
                                <label class="col-lg-4 col-sm-3 control-label" >
                                    <span class="text-danger wrapper-sm">*</span>机构名称</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="account" id="account" placeholder="请输入机构名称..." ng-model="record.deptName">
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <!--真实姓名-->
                            <div class="form-dept">
                                <label class="col-lg-4 col-sm-3 control-label" >
                                    <span class="text-danger wrapper-sm">*</span>排序</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="userName"  id="userName" placeholder="请输入排序..." ng-model="record.sortNo">
                                    <span class="help-block m-b-none"></span>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <!--是否禁止-->
                            <div class="form-dept">
                                <label class="col-lg-4 col-sm-3 control-label" >
                                    <span class="text-danger wrapper-sm">*</span>有效性</label>
                                <div class="col-sm-6">
                                    <div class="radio" ng-repeat="row in dicList">
                                        <span>{{row.codeText}}:</span> <input type="radio"  style="margin-left: 2em" name="enable" value="{{row.code}}" ng-model="record.enable"/>
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <!--联系方式-->
                            <div class="form-dept">
                                <label class="col-lg-4 col-sm-3 control-label" >
                                    <span class="text-danger wrapper-sm">*</span>上级机构</label>
                                <div class="col-sm-6">
                                    <div class="selects">
                                        <select id="parentId" ng-model="record.parentId" required="required" class="selects" ng-options="x.id as x.deptName for x in orgList"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-dept">
                                <div class="col-sm-6 col-sm-offset-2">
                                    <button type="reset" class="btn btn-default w-xs">重置</button>
                                    <button type="submit" ng-click="submit()" class="btn btn-info w-xs m-l-xl" ng-disabled="isDisabled">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>

    </div><!-- /.wrapper-data -->
    </div>
</div><!-- /.wrapper-md -->