<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->

<!-- 导航条 -->
<div class="bg-white bread-crumb">
    <ul class="breadcrumb b-a m-b-n-xs lter b-b wrapper-md">
        <li>
            <a ui-href="main">
                <i class="fa fa-home"></i> 首页</a>
        </li>
        <li class="active" ng-bind="title"></li>
    </ul>
</div>

<!-- 加载提醒 -->
<div ng-show="loading" class="text-center m-t-md text-lg">
    <i class="fa fa-spin fa-spinner"></i> 数据加载中...</div>

<!-- 内容区域 -->
<div ng-hide="loading" class="wrapper-md content">
    <!-- 数据显示 -->
    <div class="wrapper-data">
        <div class="panel panel-default">
            <!-- 头部 -->
            <div class="panel-heading clearfix">
                <a class="btn btn-info pull-right" ng-click="disableItem(0)">
                    <i class="fa fa-remove m-r-xs text-sm"></i>公告删除
                </a>
                <a class="btn btn-info pull-right" ng-click="disableItem(1)">
                    <i class="fa fa-share-square-o m-r-xs text-sm"></i>公告发布
                </a>
                <a class="btn btn-info pull-right" ng-click="edit()">
                    <i class="fa fa-edit m-r-sm text-md"></i> 公告修改
                </a>
                <a ui-sref="main.sys.notice.create" class="btn btn-info pull-right">
                    <i class="fa fa-plus m-r-sm text-md"></i> 公告新增
                </a>

                <div class="w-lg">
                    <!--<td class="v-middle">
                    <a ui-sref="main.sys.notice.update({id: item.id})"  ng-show="item.status==0" ng-hide="item.status==1"  class="btn btn-sm btn-default">
                        <i class="fa fa-edit m-r-xs text-sm"></i>编辑</a>
                    <button type="button" ng-show="item.status==0" ng-hide="item.status==1"  ng-click="publish(item.id,1)" class="btn btn-sm btn-default m-l-xs">
                        <i class="fa fa-check m-r-xs text-sm"></i>发布</button>
                    <button type="button"  ng-show="item.status==0" ng-hide="item.status==1"  class="btn btn-sm btn-default m-l-xs" ng-click="delete(item.id,1,item.status)">
                    	<i class="fa fui-power m-r-xs text-sm"></i>删除</button>
                </td>-->
                    <form ng-submit="search()" class="ng-pristine ng-valid">
                        <div class="input-group search-box">
                            <input type="text" class="form-control" ng-model="param.keyword" placeholder="公告标题">
                            <i ng-show="user.keyword" ng-click="clearSearch()" class="fa fa-mail-reply-circle text-muted search-clear"></i>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <!-- 数据表格 -->
            <div class="table-responsive">
                <table class="table table-striped b-t b-light text-center">
                    <thead>
                        <tr>
                            <th style="width:50px;">选择</th>
                            <th style="width:50px;">序号</th>
                            <th width="200px">公告标题</th>
                            <th width="100px">公告类型</th>
                            <!-- <th width="100px">发布时间</th> -->
                            <th width="150px">信息来源</th>
                            <!-- <th width="100px">阅读次数</th> -->
                            <th width="100px">发布状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in pageInfo.data" ng-click="onCheckedRow(pageInfo.data,item)">
                            <td class="v-middle">
                                <input type="checkbox" ng-model="item.checked" ng-click="selectOne(item.checked,item.id)">
                            </td>
                            <td style="text-align: center;">{{(pageInfo.current-1)*pageInfo.size+$index+1}}</td>
                            <td class="v-middle">{{item.noticeTitle}}</td>
                            <td class="v-middle">
                                <span ng-switch=item.noticeType>
                                    <span ng-switch-when="1">系统公告</span>
                                    <span ng-switch-when="2">流程公告</span>
                                    <span ng-switch-when="3">其他公告</span>
                                </span>
                            </td>
                            <!-- <td class="v-middle">{{item.sendTime}}</td> -->
                            <td class="v-middle">{{item.infoSources}}</td>
                            <!-- <td class="v-middle">{{item.readerTimes}}</td> -->
                            <td class="v-middle">
                                <span ng-hide="item.status==1" class="text-danger">未发布</span>
                                <span ng-show="item.status==1" class="text-success">已发布</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->

            <!-- 底部分页 -->
            <span data-ng-include=" 'src/tpl/pageInfo.html' "></span>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.wrapper-data -->

</div>
<!-- /.wrapper-md -->