<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.BizApprovalWorkflowTaskMapper">
  <select id="selectIdPage" resultType="java.lang.Long">
		select id_ from BIZ_APPROVAL_WORKFLOW_TASK
	  <where>
		  <if test="cm.enable != null and cm.enable != ''">
			  and enable_ = #{cm.enable}
		  </if>
		  <if test="cm.piid != null and cm.piid != ''">
			  and PROCESS_INS_ID = #{cm.piid}
		  </if>
	  </where>
	</select>
		
</mapper>