<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.BizCustMapper">
  <select id="selectIdPage" resultType="java.lang.Long">
		select id_ from BIZ_CUST
		<where>
			<if test="cm.id != null and cm.id != ''">
				and id_ = #{cm.id}
			</if>
			<if test="cm.enable != null and cm.enable != ''">
				and enable_ = #{cm.enable}
			</if>
			<if test="cm.debtCode != null and cm.debtCode != ''">
				and (DEBT_CODE like '%'||#{cm.debtCode}||'%')
			</if>
			<if test="cm.custNameEN != null and cm.custNameEN != ''">
				and (CUST_NAME_EN like '%'||#{cm.custNameEN}||'%')
			</if>
			<if test="cm.custNo != null and cm.custNo != ''">
			and (CUST_NO like '%'||#{cm.custNo}||'%')
			</if>
			<if test="cm.custAddressCN != null and cm.custAddressCN != ''">
				and CUST_ADDRESS_CN = #{cm.custAddressCN}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (CUST_NO like '%'||#{cm.keyword}||'%' or CUST_NAME_CN like '%'||#{cm.keyword}||'%' or CUST_NAME_EN like '%'||#{cm.keyword}||'%' or DEBT_CODE like '%'||#{cm.keyword}||'%')
			</if>
		</where>
	</select>


	
</mapper>