<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.BizCbsErrorMessageMapper">
  <select id="selectIdPage" resultType="java.lang.Long">
		select id_ from BIZ_CBS_ERROR_MESSAGE
	  <where>
		  <if test="cm.enable != null and cm.enable != ''">
			  and enable_ = #{cm.enable}
		  </if>
		  <if test="cm.errorCode != null and cm.errorCode != ''">
			  and ERROR_CODE = #{cm.errorCode}
		  </if>
	  </where>
	  ORDER BY CREATE_TIME
	</select>
		
</mapper>