<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.BizCreditLinesMapper">
  <select id="selectIdPage" resultType="java.lang.Long">
		select id_ from BIZ_CREDIT_LINES
		<where>
			<if test="cm.enable != null and cm.enable != ''">
				and enable_ = #{cm.enable}
			</if>
			<if test="cm.debtCode != null and cm.debtCode != ''">
				and DEBT_CODE = #{cm.debtCode}
			</if>
			<if test="cm.objtyp != null and cm.objtyp != ''">
				and OBJTYP = #{cm.objtyp}
			</if>
			<if test="cm.objinr != null and cm.objinr != ''">
				and OBJINR = #{cm.objinr}
			</if>
			<if test="cm.custNo != null and cm.custNo != ''">
				and CUST_NO = #{cm.custNo}
			</if>
			<if test="cm.customerId != null and cm.customerId != ''">
				and (BIZ_CUSTOMER_ID like '%'||#{cm.customerId}||'%')
			</if>
			<if test="cm.amountType != null and cm.amountType != ''">
				and (AMOUNT_TYPE like '%'||#{cm.amountType}||'%')
			</if>
			<if test="cm.custNo != null and cm.custNo != ''">
			and (CUST_NO like '%'||#{cm.custNo}||'%')
			</if>
			<if test="cm.creditNo != null and cm.creditNo != ''">
				and CREDIT_NO = #{cm.creditNo}
			</if>
			<if test="cm.creditLineName != null and cm.creditLineName != ''">
				and (CREDIT_LINE_NAME like '%'||#{cm.creditLineName}||'%' )
			</if>
			<if test="cm.totalAmount != null and cm.totalAmount != ''">
				and (TOTAL_AMOUNT like '%'||#{cm.totalAmount}||'%' )
			</if>
			<if test="cm.usedAmount != null and cm.usedAmount != ''">
				and (USED_AMOUNT like '%'||#{cm.usedAmount}||'%' )
			</if>
			<if test="cm.availableBalance != null and cm.availableBalance != ''">
				and (AVAILABLE_BALANCE like '%'||#{cm.availableBalance}||'%' )
			</if>
		</where>
	</select>
</mapper>