<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.BizDebtSummaryMapper">
	<select id="selectIdPage" resultType="java.lang.Long">
		select m.id_ from BIZ_DEBT_MAIN m
		LEFT JOIN
		biz_trn t
		ON (m.id_ = t.objinr
		and t.objtyp = 'BIZ_DEBT_MAIN'
        and m.vernum_ = t.vernum_
		)
		<where>
			<if test="cm.debtCode != null and cm.debtCode != ''">
                <choose>
                    <when test='cm.debtCode.length() == 16 and cm.verNum == null'>
                        and m.DEBT_CODE = SUBSTR(#{cm.debtCode},0,13)
                        and m.vernum_ = SUBSTR(#{cm.debtCode},16)
                    </when>
                    <otherwise>
                        and m.DEBT_CODE = #{cm.debtCode}
                    </otherwise>
                </choose>
			</if>
            <if test="cm.verNum != null and cm.verNum != ''">
                and m.VERNUM_ = #{cm.verNum}
            </if>
			<if test="cm.bankTellerId != null and cm.bankTellerId != ''">
				and m.BANK_TELL_ID = #{cm.bankTellerId}
			</if>
			<if test="cm.solutionState != null and cm.solutionState != ''">
				and t.BIZ_STATUS = #{cm.solutionState}
			</if>
			<if test="cm.inSolutionState != null and cm.inSolutionState != ''">
				and t.BIZ_STATUS in (6,10)
			</if>
			<if test="cm.institutionCode != null and cm.institutionCode != ''">
				and m.INSTITUTION_CODE = #{cm.institutionCode}
			</if>
			<if test="cm.projectName != null and cm.projectName != ''">
				and m.PROJECT_NAME = #{cm.projectName}
			</if>
			<if test="cm.proposer != null and cm.proposer != ''">
				and m.PROPOSER = #{cm.proposer}
			</if>
			<if test="cm.mpc != null and cm.mpc != ''">
				and m.M_CURRENCY = #{cm.mpc}
			</if>
			<if test="cm.solutionAmount != null and cm.solutionAmount != ''">
				and m.SOLUTION_AMT = #{cm.solutionAmount}
			</if>
			<if test="cm.createTime != null and cm.createTime != ''">
				and m.CREATE_TIME = #{cm.createTime}
			</if>
			<if test="cm.enable != null and cm.enable != ''">
				and m.enable_ = #{cm.enable}
			</if>
			<if test="cm.pgEffectivDate != null and cm.pgEffectivDate != ''">
				and m.PG_EFFECTIVE_DATE = #{cm.pgEffectivDate}
			</if>
			<if test="cm.pgExpiDate != null and cm.pgExpiDate != ''">
				and m.PG_EXPI_DATE = #{cm.pgExpiDate}
			</if>
			<if test="cm.solutionState2 != null and cm.solutionState2 != ''">
				and t.BIZ_STATUS &lt;&gt; #{cm.solutionState2}
			</if>
			<if test="cm.solutionState7 != null and cm.solutionState7 != ''">
				and t.BIZ_STATUS &lt;&gt; #{cm.solutionState7}
			</if>
			<if test="cm.solutionState8 != null and cm.solutionState8 != ''">
				and t.BIZ_STATUS &lt;&gt; #{cm.solutionState8}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (m.DEBT_CODE like '%'||#{cm.keyword}||'%')
			</if>
			<if test="cm.debtCodeCon != null and cm.debtCodeCon != ''">
				and (m.DEBT_CODE &lt;&gt; '%'||#{cm.debtCodeCon}||'%')
			</if>
			<if test="cm.schemeNum != null and cm.schemeNum != ''">
				and (m.DEBT_CODE like '%'||#{cm.schemeNum}||'%')
			</if>
			<if test="cm.projectNam != null and cm.projectNam != ''">
				and (m.PROJECT_NAME like '%'||#{cm.projectNam}||'%')
			</if>
			<if test="cm.applicant != null and cm.applicant != ''">
				and (m.PROPOSER like '%'||#{cm.applicant}||'%')
			</if>
			<if test="cm.deptCod != null and cm.deptCod != ''">
				and (m.INSTITUTION_CODE like '%'|| #{cm.deptCod}||'%')
			</if>
			<if test="cm.stateTime != null and cm.stateTime != ''">
				and (m.CREATE_TIME &gt;= TO_DATE(#{cm.stateTime}, 'yyyy-mm-dd'))
			</if>
			<if test="cm.endTime != null and cm.endTime != ''">
				and (m.CREATE_TIME &lt;= TO_DATE(#{cm.endTime}, 'yyyy-mm-dd'))
			</if>
			<if test="cm.debtStartTime != null and cm.debtStartTime != ''">
				and (m.PG_EFFECTIVE_DATE &gt;= TO_DATE(#{cm.debtStartTime}||'00:00:00', 'yyyy-mm-dd hh24:mi:ss'))
			</if>
			<if test="cm.debtEndTime != null and cm.debtEndTime != ''">
				and (m.PG_EXPI_DATE  &lt;=  TO_DATE(#{cm.debtEndTime}||'23:59:59', 'yyyy-mm-dd hh24:mi:ss'))
			</if>
			<if test="cm.startDate != null and cm.startDate != ''">
				and (m.CREATE_TIME &gt;= TO_DATE(#{cm.startDate}||'00:00:00', 'yyyy-mm-dd hh24:mi:ss'))
			</if>
			<if test="cm.endDate != null and cm.endDate != ''">
				and (m.CREATE_TIME  &lt;=  TO_DATE(#{cm.endDate}||'23:59:59', 'yyyy-mm-dd hh24:mi:ss'))
			</if>
		</where>
	</select>

	<select id="selectDebtIdByDebtCode" resultType="java.lang.Long">
		select id_ from BIZ_DEBT_MAIN
		<where>
			<if test="debtCode != null and debtCode != ''">
				and DEBT_CODE = #{debtCode}
			</if>
		</where>
	</select>


	<select id="getCountByProductId" resultType="java.lang.Integer">
		SELECT
		COUNT(1)
		FROM
		BIZ_DEBT_GRANT c
		WHERE
		c.PROPER_INFO=#{productId}
	</select>

	<resultMap id="grvVo" type="org.ibase4j.vo.GrantRuleVerifVo" autoMapping="true">
		<id column="RULE_TYPE" property="ruleType" javaType="int" jdbcType="INTEGER" />
		<id column="PG_EFFECTIVE_DATE" property="efeectiveDatedt" javaType="java.sql.Timestamp" jdbcType="DATE" />
		<id column="PG_EXPI_DATE" property="expiDatedt" javaType="java.sql.Timestamp" jdbcType="DATE" />
		<id column="LTNOPA" property="ltnopa" javaType="int" jdbcType="INTEGER" />
		<id column="TDWLN" property="tdwln" javaType="int" jdbcType="INTEGER" />
		<id column="SOLUTION_AMT" property="amt" javaType="BigDecimal" jdbcType="NUMERIC" />
		<id column="SCOPE_BUSIN_PERIOD" property="scopeBnsPeriod" javaType="int" jdbcType="INTEGER" />
		<id column="LOOP_FLAG" property="loopFlag" javaType="int" jdbcType="INTEGER" />
		<id column="NUM_LIMIT" property="numLimit" javaType="int" jdbcType="INTEGER" />
		<id column="DEAL_NUM" property="dealNum" javaType="int" jdbcType="INTEGER" />
		<id column="USED_NUM" property="usedNum" javaType="int" jdbcType="INTEGER" />
		<id column="PACKAGE_RATE" property="packageRate" javaType="BigDecimal" jdbcType="NUMERIC" />
		<id column="SCHEME_RATE_FORM" property="schemeRateForm" javaType="int" jdbcType="INTEGER" />
		<id column="RATE_RANGE_MIX" property="rateRangeMix" javaType="BigDecimal" jdbcType="NUMERIC" />
		<id column="RATE_RANGE_MAX" property="rateRangeMax" javaType="BigDecimal" jdbcType="NUMERIC" />
		<id column="A_CURRENCY" property="aCurrency" jdbcType="VARCHAR" />
		<id column="M_CURRENCY" property="mCurrency" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="debtInfoMap" type="java.util.HashMap" >
		<result column="ID_" property="id" jdbcType="VARCHAR" />
		<result column="DEBT_CODE" property="debtCode" jdbcType="VARCHAR" />
		<result column="SINGLE_BATCH" property="singleBatch" jdbcType="INTEGER" />
		<result column="SINGLE_BATCH_STRING" property="singleBatchString" jdbcType="VARCHAR" />
		<result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR" />
		<result column="PROPOSER" property="proposer" jdbcType="VARCHAR" />
		<result column="PROPOSER_NUM" property="proposerNum" jdbcType="VARCHAR" />
		<result column="BANK_TELL_ID" property="bankTellId" jdbcType="BIGINT" />
		<result column="PG_EFFECTIVE_DATE" property="pgEffectiveDate" jdbcType="DATE"/>
		<result column="PG_EXPI_DATE" property="pgExpiDate" jdbcType="DATE"/>
		<result column="SOLUTION_STATE" property="solutionState" jdbcType="INTEGER" />
		<!--<result column="SOLUTION_STATE" property="solutionState" jdbcType="VARCHAR" />-->
		<result column="M_CURRENCY" property="mpc" jdbcType="VARCHAR" />
		<result column="SOLUTION_AMT" property="solutionAmt" jdbcType="DOUBLE" />
		<result column="APPROVED_UNUSED_AMT" property="approvedUnusedAmt" jdbcType="DOUBLE" />
		<result column="TDWLN" property="tdwln" jdbcType="INTEGER" />
		<result column="POLICY" property="policy" jdbcType="INTEGER" />
		<result column="POLICY_STRING" property="policyString" jdbcType="VARCHAR"/>
		<result column="USER_NAME" property="bankTellName" jdbcType="VARCHAR" />
		<result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
		<result column="CODE_NAME" property="codeName" jdbcType="VARCHAR"/>
	</resultMap>

	<select id="getGrantRuleVo" resultMap="grvVo">
		SELECT
		b.PG_EFFECTIVE_DATE,
		b.PG_EXPI_DATE,
		b.RULE_TYPE,
		b.LTNOPA,
		b.A_CURRENCY,
		b.M_CURRENCY,
		b.TDWLN,
		b.SOLUTION_AMT,
		b.SCOPE_BUSIN_PERIOD,
		b.LOOP_FLAG,
		AA.NUM_LIMIT,
		AA.DEAL_NUM,
		b.PACKAGE_RATE,
		b.SCHEME_RATE_FORM,
		b.RATE_RANGE_MIX,
		b.RATE_RANGE_MAX,
		(
		SELECT
		COUNT(1) FROM BIZ_DEBT_GRANT c
		WHERE
		c.GRANT_STATUS!=6
		and c.ENABLE_=1
		and c.DEBT_CODE=#{cm.debtCode}
		) as USED_NUM
		FROM
		BIZ_SIGLE_PRODUCT_RULE AA
		INNER JOIN
		BIZ_DEBT_MAIN b
		ON
		AA.DEBT_CODE = b.DEBT_CODE
		<where>
			<if test="cm.debtCode != null and cm.debtCode != ''">
				AND AA.DEBT_CODE =  #{cm.debtCode, jdbcType=VARCHAR}
			</if>
			<if test="cm.properInfo != null and cm.properInfo != '' and cm.properInfo != 0">
				AND AA.PROPER_INFO = #{cm.properInfo}
			</if>
		</where>
	</select>

	<select id="getDebtInfoForStandingBook" resultMap="debtInfoMap">
		SELECT
		TO_CHAR (A .ID_) ID_,
		A .DEBT_CODE,
		A .SINGLE_BATCH,
		CASE A .SINGLE_BATCH
		WHEN 1 THEN
		'是'
		WHEN 0 THEN
		'否'
		END SINGLE_BATCH_STRING,
		A .PROJECT_NAME,
		A .PROPOSER,
		A .PROPOSER_NUM,
		A .BANK_TELL_ID,
		A .PG_EFFECTIVE_DATE,
		A .PG_EXPI_DATE,
-- 		A .SOLUTION_STATE,
		trn.BIZ_STATUS
		A .M_CURRENCY,
		A .SOLUTION_AMT,
		A .APPROVED_UNUSED_AMT,
		A .TDWLN,
		A . POLICY,
		CASE A .POLICY
		WHEN 1 THEN
		'是'
		WHEN 0 THEN
		'否'
		END POLICY_STRING,
		C.USER_NAME,
		C.DEPT_CODE,
		D .DEPT_NAME,
		E .CODE_NAME,
		WM_CONCAT (G .NAME_) OVER (PARTITION BY A .DEBT_CODE) produceNameAll
		FROM
		BIZ_DEBT_MAIN A
		INNER JOIN SYS_USER C ON A .BANK_TELL_ID = C.id_
		INNER JOIN SYS_DEPT D ON C.DEPT_CODE = D .ID_
		INNER JOIN SYS_CURRENCY E ON A .M_CURRENCY = E .MON_CODE
		INNER JOIN BIZ_SIGLE_PRODUCT_RULE F ON A .DEBT_CODE = F.DEBT_CODE
		INNER JOIN BIZ_PRODUCT_TYPES G ON F.BUSINESS_TYPE = G .CODE_
		INNER JOIN BIZ_TRN trn ON (A.id_ = trn.objinr and trn.objtyp='BIZ_DEBT_MAIN' and trn.vernum_ = a.vernum_)
		<where>
			<if test="cm.debtCode != null and cm.debtCode != ''">
				AND A.DEBT_CODE =  #{cm.debtCode}
			</if>
		</where>
	</select>

	<select id="getGrantInfoForStandingBook" resultMap="debtInfoMap">
		SELECT
		A .DEBT_CODE,
		A .PROJECT_NAME,
		A .FINANCE_PLATFORM AS financePlatform,
		B.GRANT_CODE,
		C.USER_NAME,
		D .DEPT_NAME,
		E .NAME_ AS productName,
		F.BIZ_RENTAL_FACTORING_CODE AS bizRentalFactoringCode,
		WM_CONCAT (H .NAME_) OVER (PARTITION BY G .GRANT_CODE) GUARANTEE_TYPE_TOTAL AS guaranteeTypeTotal,
		I.CUST_NO AS custNo,
		I.CUST_NAME_CN AS custCameCn,
		I.MAIN_BUSINESS AS mainBusiness,
		I.CUST_SCALE AS custScale,
		I.ORGANIZATION_CODE AS organizationCode,
		I.CREDIT_RATING AS creditRating,
		J.BUSINESS_TYPE AS businessType,
		J.INNOVATIVE_BUSINESS_TYPE AS innovativeBusinessType,
		J.BACKGROUND_NATIONALITY AS backgroundNationality,
		J.LOAN_DOMAIN AS loanDomain,
		J.IMPOERT_EXPORT_GOODS_SERVICE AS impoertExportGoodsService,
		--	J .CHINA_EMERGING_INDUSTRY_CLASSIFY,
		J.TYOES_INDUSTRIAL AS tyoesIndustrial,
		J.BUSINESS_CONTRACT_CODE AS businessContractCode,
		J.BUSINESS_CONTRACT_DATE AS businessContractDate,
		J.BUSINESS_CONTRACT_AMOUNT AS businessContractAmount,
		J.LOAN_CKASSIFICATION AS loanCkassification,
		J.INDUSTRIAL_TRANSFORMATION AS industrialTransformation,
		J.CURTURAL_PRODUCT AS curturalProduct,
		J.ALLEVIATION_LOAN AS alleviationLoan,
		J.TRADE_INTEREST_RATE AS tradeRnterestRate,
		--	J .POLICY_ATTRIBUTE_CLASSIFY,
		J.INDUSTRY_INVESTMENT AS industryInvestment,
		J.COMPARE AS compare,
		J.IS_SYNDICATED AS isSyndicated,
		J.IS_SYNDICATED_AGENCY AS isAyndicatedAgency,
		J.SYNDICATED_STATUS AS syndicatedStatus,
		J.IS_421 AS is421
		FROM
		BIZ_DEBT_MAIN A
		INNER JOIN BIZ_DEBT_GRANT B ON A .DEBT_CODE = B.DEBT_CODE
		INNER JOIN SYS_USER C ON A .BANK_TELL_ID = C.id_
		INNER JOIN SYS_DEPT D ON C.DEPT_CODE = D .ID_
		INNER JOIN BIZ_PRODUCT_TYPES E ON B.BUSINESS_TYPES = E .CODE_
		INNER JOIN BIZ_RENTAL_FACTORING F ON F.DEBT_CODE = B.DEBT_CODE
		AND F.GRANT_CODE = B.GRANT_CODE
		INNER JOIN BIZ_GUARANTEE_RESULT G ON G .GRANT_CODE = B.GRANT_CODE
		INNER JOIN BIZ_GUARANTEE_TYPE H ON G .GUARAN_TYPE = H .CODE_
		INNER JOIN BIZ_CUSTOMER I ON I.DEBT_CODE = A .DEBT_CODE
		AND A .PROPOSER_NUM = I.CUST_NO
		INNER JOIN BIZ_INTEREST_RATE J ON J.DEBT_CODE = B.DEBT_CODE
		AND J.GRANT_CODE = B.GRANT_CODE
		<where>
			<if test="cm.debtCode != null and cm.debtCode != ''">
				AND B.DEBT_CODE =  #{cm.debtCode}
			</if>
		</where>
		<where>
			<if test="cm.grantCode != null and cm.grantCode != ''">
				AND B.GRANT_CODE =  #{cm.grantCode}
			</if>
		</where>
		<where>
			<if test="cm.businessTypes != null and cm.businessTypes != ''">
				AND A.BUSINESS_TYPES =  #{cm.businessTypes}
			</if>
		</where>
	</select>

	<resultMap id="custDicMap" type="org.ibase4j.vo.BizDebtInfo"
			   autoMapping="true">
		<result column="ID_" property="id" javaType="String" jdbcType="VARCHAR" />
		<result column="DEBT_CODE" property="debtCode" javaType="String" jdbcType="VARCHAR" />
		<result column="PROJECT_NAME" property="projectNam" javaType="String" jdbcType="VARCHAR" />
		<result column="PROPOSER" property="proposer" javaType="String" jdbcType="VARCHAR" />
		<result column="DEPT_NAME" property="deptName" javaType="String" jdbcType="VARCHAR" />
		<result column="M_CURRENCY" property="mpc" javaType="String" jdbcType="VARCHAR" />
		<result column="SOLUTION_AMT" property="solutionAmount" javaType="BigDecimal" jdbcType="NUMERIC" />
		<result column="SOLUTION_STATE" property="solutionState" javaType="Long" jdbcType="NUMERIC" />
		<result column="HISTORY_STATE" property="historyState" javaType="String" jdbcType="VARCHAR" />
		<result column="USER_NAME" property="userName" javaType="String" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="creatTime" javaType="java.sql.Date" jdbcType="DATE" />
		<result column="UPDATE_TIME" property="updateTime" javaType="java.sql.Date" jdbcType="DATE" />
		<result column="PG_EXPI_DATE" property="pgExpiDate" javaType="java.sql.Date" jdbcType="DATE" />
		<result column="vernum_" property="verNum" javaType="Integer" jdbcType="NUMERIC" />
	</resultMap>
	<select id="getDebtInfo" resultMap="custDicMap">
		SELECT
		TO_CHAR (b.ID_) ID_,
-- 		b.DEBT_CODE,
        b.DEBT_CODE || replace(lpad(to_char(b.vernum_),3),' ','0') as DEBT_CODE,
		b.PROJECT_NAME,
		b.PROPOSER,
		AA.DEPT_NAME,
		b.M_CURRENCY,
		b.SOLUTION_AMT,
-- 		b.SOLUTION_STATE,
        dd.biz_status as SOLUTION_STATE,
		b.HISTORY_STATE,
		CC.USER_NAME,
		b.CREATE_TIME,
		b.UPDATE_TIME,
		b.PG_EXPI_DATE,
        b.vernum_
		FROM
		BIZ_DEBT_MAIN b
		LEFT JOIN
		SYS_DEPT AA
		ON
		(b.INSTITUTION_CODE = AA.CODE_)
		LEFT JOIN
		SYS_USER CC
		ON
		(b.CREATE_BY = CC.ID_)
		LEFT JOIN
		biz_trn dd
		ON (b.id_ = dd.objinr
		and dd.objtyp='BIZ_DEBT_MAIN'
		and dd.vernum_=b.vernum_
		)
		<where>
			<if test="cm.deptCod != null and cm.deptCod != ''">
				AND (b.INSTITUTION_CODE like '%'||#{cm.deptCod}||'%')
			</if>
			<if test="cm.institutionCode != null and cm.institutionCode != ''">
				AND (b.INSTITUTION_CODE like '%'||#{cm.institutionCode}||'%')
			</if>
			<if test="cm.schemeNum != null and cm.schemeNum != ''">
				AND (b.DEBT_CODE like '%'||#{cm.schemeNum}||'%')
			</if>
			<if test="cm.projectNam != null and cm.projectNam != ''">
				AND (b.PROJECT_NAME like '%'||#{cm.projectNam}||'%')
			</if>
			<if test="cm.applicant != null and cm.applicant != ''">
				AND (b.PROPOSER like '%'||#{cm.applicant}||'%')
			</if>
			<if test="cm.deptCode != null and cm.deptCode != ''">
				AND (AA.CODE_ like '%'||#{cm.deptCode}||'%')
			</if>
			<if test="cm.historyState != null and cm.historyState != ''">
				AND (b.HISTORY_STATE like '%'||#{cm.historyState}||'%')
			</if>
			<if test="cm.stateTime != null and cm.stateTime != ''">
				AND (b.UPDATE_TIME &gt;= TO_DATE(#{cm.stateTime}||'00:00:00','yyyy-mm-dd hh24:mi:ss'))
			</if>
			<if test="cm.endTime != null and cm.endTime != ''">
				AND (b.UPDATE_TIME &lt;= TO_DATE(#{cm.endTime}||'23:59:59','yyyy-mm-dd hh24:mi:ss'))
			</if>
			<if test="cm.solutionState != null and cm.solutionState != ''">
				AND (dd.biz_status like '%'||#{cm.solutionState}||'%')
			</if>
			<if test="cm.solutionState2 != null and cm.solutionState2 != ''">
				AND dd.biz_status &lt;&gt; #{cm.solutionState2}
			</if>
			<if test="cm.solutionState7 != null and cm.solutionState7 != ''">
				AND dd.biz_status &lt;&gt; #{cm.solutionState7}
			</if>
			<if test="cm.solutionState8 != null and cm.solutionState8 != ''">
				AND dd.biz_status &lt;&gt; #{cm.solutionState8}
			</if>
			<if test="cm.relflg != null and cm.relflg != ''">
				AND dd.RELFLG = #{cm.relflg}
			</if>
            <if test="cm.relres != null and cm.relres != ''">
                AND dd.RELRES = #{cm.relres}
            </if>
		</where>
	</select>

    <select id="queryByDebtCode" resultMap="BizDebtSummary">
		select
			*
		from
			BIZ_DEBT_MAIN
		WHERE
			DEBT_CODE = #{debtCode , jdbcType=VARCHAR}
	</select>

    <resultMap id="BizDebtSummary" type="org.ibase4j.model.BizDebtSummary"
               autoMapping="true">
        <id column="ID_" property="id" />
        <result column="DEBT_CODE" property="debtCode" javaType="String" jdbcType="VARCHAR" />
        <result column="PROJECT_NAME" property="projectNam" javaType="String" jdbcType="VARCHAR" />
        <result column="BANK_TELL_ID" property="bankTellerId" javaType="Long" jdbcType="NUMERIC" />
        <result column="WF_TIME" property="processInitiatTime" javaType="java.sql.Date" jdbcType="DATE" />
        <result column="VALIDITY_CYCLE_GAUGE" property="validityCcycleGauge" javaType="Long" jdbcType="NUMERIC" />
        <result column="PG_EFFECTIVE_DATE" property="pgEffectivDate" javaType="java.sql.Date" jdbcType="DATE" />
        <result column="PG_EXPI_DATE" property="pgExpiDate" javaType="java.sql.Date" jdbcType="DATE" />
        <result column="LOOP_FLAG" property="ls" javaType="Long" jdbcType="NUMERIC" />
        <result column="RULE_TYPE" property="ruleType" javaType="Long" jdbcType="NUMERIC" />
        <result column="LTNOPA" property="ltnopa" javaType="Long" jdbcType="NUMERIC" />
        <result column="TDWLN" property="tdwln" javaType="Long" jdbcType="NUMERIC" />
        <result column="M_CURRENCY" property="mpc" javaType="String" jdbcType="VARCHAR" />
        <result column="SOLUTION_AMT" property="solutionAmount" javaType="BigDecimal" jdbcType="NUMERIC" />
        <result column="A_CURRENCY" property="aCurrrency" javaType="String" jdbcType="VARCHAR" />
        <result column="O_CURRENCY" property="oc" javaType="String" jdbcType="VARCHAR" />
        <result column="SCOPE_BUSIN_PERIOD" property="dopo" javaType="Long" jdbcType="NUMERIC" />
        <result column="PROG_RATE_TYPE" property="progRateType" javaType="Long" jdbcType="NUMERIC" />
        <result column="SCHEME_RATE_FORM" property="schemeRateForm" javaType="Long" jdbcType="NUMERIC" />
        <result column="RATE_RANGE_MIX" property="rateRangeMix" javaType="BigDecimal" jdbcType="NUMERIC" />
        <result column="RATE_RANGE_MAX" property="rateRangeMax" javaType="BigDecimal" jdbcType="NUMERIC" />
        <result column="PACKAGE_RATE" property="packageRate" javaType="BigDecimal" jdbcType="NUMERIC" />
        <result column="APPROVE" property="approve" javaType="Long" jdbcType="NUMERIC" />
        <result column="RATE_APPROVAL_ORG" property="raaa" javaType="Long" jdbcType="NUMERIC" />
        <result column="WHETHER_RATE_DISCOUNT" property="whetherRateDiscount" javaType="Long" jdbcType="NUMERIC" />
        <result column="PROGRAM_RATE_DISCOUNT" property="programRateDiscount" javaType="BigDecimal" jdbcType="NUMERIC" />
        <result column="DESCRIPTION_PROGRAM_QUOQATE" property="descriptionProgramQuoqate" javaType="String" jdbcType="VARCHAR" />
        <result column="DESCRIPTION_RATE_RULES" property="descriptionRateRules" javaType="String" jdbcType="VARCHAR" />
        <result column="BRIF_BACKGROUND" property="brifBackground" javaType="String" jdbcType="VARCHAR" />
        <result column="TRAD_BACKGROUND" property="tradBackground" javaType="String" jdbcType="VARCHAR" />
        <result column="BUSINESS_BACKGROUND_BRIEF" property="businessBackgroundBrief" javaType="String" jdbcType="VARCHAR" />
        <result column="GOODS_SKETCH" property="goodsSketch" javaType="String" jdbcType="VARCHAR" />
        <result column="POLICY_DESCRIPTION" property="policyDescription" javaType="String" jdbcType="VARCHAR" />
        <result column="POLICY" property="policy" javaType="String" jdbcType="VARCHAR" />
        <result column="PROPOSER" property="proposer" javaType="String" jdbcType="VARCHAR" />
        <result column="PROPOSER_NUM" property="proposerNum" javaType="String" jdbcType="VARCHAR" />
        <result column="SINGLE_BATCH" property="SINGLE_BATCH" javaType="Long" jdbcType="NUMERIC" />
        <result column="INSTITUTION_CODE" property="institutionCode" javaType="String" jdbcType="VARCHAR" />
        <result column="DEBT_TRN_CODE" property="debtTrnCode" javaType="String" jdbcType="VARCHAR" />
        <result column="IDENT_NUMBER" property="identNumber" javaType="String" jdbcType="VARCHAR" />
        <result column="ERR_NO" property="errNo" javaType="String" jdbcType="VARCHAR" />
        <result column="TRANSOK" property="transok" javaType="String" jdbcType="VARCHAR" />
        <result column="PROCESS_STATUS" property="processStatus" javaType="String" jdbcType="VARCHAR" />
        <result column="SOLUTION_STATE" property="solutionState" javaType="Long" jdbcType="NUMERIC" />
        <result column="HISTORY_STATE" property="historyState" javaType="String" jdbcType="VARCHAR" />
        <result column="vernum_" property="verNum" javaType="Integer" jdbcType="NUMERIC" />
    </resultMap>

</mapper>