<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.BizGuaranteeInfoMapper">
  <select id="selectIdPage" resultType="java.lang.Long">
		select id_ from BIZ_GUARANTEE_INFO
		<where>
			<if test="cm.debtCode != null and cm.debtCode != ''">
				and DEBT_CODE = #{cm.debtCode}
			</if>
			<if test="cm.debtCodeCon != null and cm.debtCodeCon != ''">
				and (DEBT_CODE NOT like '%'||#{cm.debtCodeCon}||'%')
			</if>
			<if test="cm.warrantyContractNumber != null and cm.warrantyContractNumber != ''">
				and WARRANTY_CONTRACT_NUMBER = #{cm.warrantyContractNumber}
			</if>
			<if test="cm.typePoint != null and cm.typePoint != ''">
				and TYPE_POINT = #{cm.typePoint}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (DEBT_CODE like '%'||#{cm.keyword}||'%')
			</if>
		</where>
	</select>
		
	<select id="queryStrDebtNum" resultType="java.lang.String">
		select GUARANTEE_CONTRACT_TYPE||GUARANTOR||WARRANTY_CONTRACT_NUMBER from BIZ_GUARANTEE_INFO
		and DEBT_CODE = #{debtNum}
	</select>

	<!-- 批量插入生成的兑换码 -->
	<insert id ="insertBatch" parameterType="java.util.List" >
		<selectKey resultType ="java.lang.Integer" keyProperty= "id"
				   order= "AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey >
		insert into BIZ_GUARANTEE_INFO
			(bach_id,
			code,
			type,
			facevalue,
			create_user,
			create_time)
		values
		<foreach collection ="list" item="reddemCode" index= "index" separator =",">
			(
			#{reddemCode.batchId},
			#{reddemCode.code},
			#{reddemCode.type},
			#{reddemCode.facevalue},
			#{reddemCode.createUser},
			#{reddemCode.createTime}
			)
		</foreach>
	</insert>
</mapper>