<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.BizHistoryCommentInfoMapper">
  <select id="selectIdPage" resultType="java.lang.Long">
		select id_ from BIZ_HISTORY_COMMENT_INFO
	  <where>
		  <if test="cm.enable != null and cm.enable != ''">
			  and enable_ = #{cm.enable}
		  </if>
		  <if test="cm.busiCode != null and cm.busiCode != ''">
			  and BUSI_CODE = #{cm.busiCode}
		  </if>
	  </where>
	  ORDER BY CREATE_TIME
	</select>
		
</mapper>