<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.BizRemtalFactoringMapper">
  <select id="selectIdPage" resultType="java.lang.Long">
		select id_ from BIZ_RENTAL_FACTORING
		<where>
			<if test="cm.businessTypes != null and cm.businessTypes != ''">
				and BUSINESS_TYPES = #{cm.businessTypes}
			</if>
			<if test="cm.debtCode != null and cm.debtCode != ''">
				and DEBT_CODE = #{cm.debtCode}
			</if>
			<if test="cm.grantCode != null and cm.grantCode != ''">
				and GRANT_CODE = #{cm.grantCode}
			</if>
			<if test="cm.leasehold != null and cm.leasehold != ''">
				and LEASEHOLD = #{cm.leasehold}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (remark_ like '%'||#{cm.keyword}||'%')
			</if>
		</where>
	</select>

	<resultMap id="BizRentalFactoringMap" type="java.util.HashMap" >
		<result column="LESSE_NAME" property="lesseName" jdbcType="VARCHAR" />
		<result column="LESSE_CODE" property="lesseCode" jdbcType="VARCHAR" />
		<result column="LESSE_RATE" property="lesseRate" jdbcType="VARCHAR" />
		<result column="IOU_CODE" property="iouCode" jdbcType="VARCHAR" />
		<result column="INDUSTRY_INVESTMENT" property="industryInvestment" jdbcType="VARCHAR" />
		<result column="BACKGROUND_NATIONALITY" property="backgroundNationality" jdbcType="VARCHAR" />
		<result column="NAME_" property="industryInvestmentsString" jdbcType="VARCHAR" />
		<result column="CODE_TEXT" property="backgroundNationalityString" jdbcType="VARCHAR" />
		<result column="BIZ_RENTAL_FACTORING_CODE" property="bizRentalFactoringCode" jdbcType="VARCHAR" />
		<result column="REPAYMENT_TYPE" property="repaymentType" jdbcType="VARCHAR" />
		<result column="REPAYMENT_TYPE_STRING" property="repaymentTypeString" jdbcType="VARCHAR" />
		<result column="LEASEHOLD" property="leasehold" jdbcType="VARCHAR" />
		<result column="TOLERANCE_PERIOD" property="tolerancePeriod" jdbcType="VARCHAR" />
		<result column="FINANCE_PLATFORM" property="financePlatform" jdbcType="VARCHAR" />
	</resultMap>


	<select id="getBizRentalFactoringForMakeLoan" resultMap="BizRentalFactoringMap">
		SELECT
			A .LESSE_NAME,
			A .LESSE_CODE,
			A .LESSE_RATE,
			A .IOU_CODE,
			B.INDUSTRY_INVESTMENT,
			B.BACKGROUND_NATIONALITY,
			A .BIZ_RENTAL_FACTORING_CODE,
			A .REPAYMENT_TYPE,
			CASE A .REPAYMENT_TYPE
				WHEN '1' THEN '不规则还款'
			END REPAYMENT_TYPE_STRING,
			A .LEASEHOLD,
			C.NAME_,
			D .CODE_TEXT,
			E .TOLERANCE_PERIOD,
			CASE E .FINANCE_PLATFORM
			WHEN '1' THEN
			'是'
			WHEN '0' THEN
			'否'
			END FINANCE_PLATFORM
		FROM
		BIZ_RENTAL_FACTORING A
		INNER JOIN BIZ_INTEREST_RATE B ON A .GRANT_CODE = B.GRANT_CODE
		INNER JOIN BIZ_GUARANTEE_TYPE C ON B.INDUSTRY_INVESTMENT = C.CODE_ AND C.TYPE_ = '005'
		INNER JOIN SYS_DIC D ON B.BACKGROUND_NATIONALITY = D .CODE_ AND D.TYPE_ = 'countryBack'
		INNER JOIN BIZ_RENTAL_FACTORING_KEY E ON A .DEBT_CODE = E .DEBT_CODE
		<where>
			<if test="cm.grantCode != null and cm.grantCode != ''">
				and A.GRANT_CODE = #{cm.grantCode}
			</if>
		</where>
	</select>
</mapper>