<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.BizRepaymentDetailMapper">
  <select id="selectIdPage" resultType="java.lang.Long">
		select id_ from BIZ_REPAYMENT_PLAN
		<where>
			<if test="cm.planName != null and cm.planName != ''">
				and PLAN_NAME = #{cm.planName}
			</if>
			<if test="cm.rfId != null and cm.rfId != ''">
				and RF_ID = #{cm.rfId}
			</if>
			<if test="cm.debtCode != null and cm.debtCode != ''">
				and DEBT_CODE = #{cm.debtCode}
			</if>
			<if test="cm.loanId != null and cm.loanId != ''">
				and LOAN_ID = #{cm.loanId}
			</if>
			<if test="cm.firstDay != null and cm.firstDay != ''">
				and FIRST_DAY = #{cm.firstDay}
			</if>
			<if test="cm.lastRepaymentDay != null and cm.lastRepaymentDay != ''">
				and LAST_REPAYMENT_DAY = #{cm.lastRepaymentDay}
			</if>
			<if test="cm.repaymentCyle != null and cm.repaymentCyle != ''">
				and REPAYMENT_CYLE = #{cm.repaymentCyle}
			</if>
			<if test="cm.repaymentFlg != null and cm.repaymentFlg != ''">
				and REPAYMENT_FLG = #{cm.repaymentFlg}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (remark_ like '%'||#{cm.keyword}||'%')
			</if>
		</where>
	</select>
		
</mapper>