<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.BizTheRentFactoringMapper">
  <select id="selectIdPage" resultType="java.lang.Long">
		select id_ from BIZ_RENTAL_FACTORING_KEY
		<where>
			<if test="cm.debtCode != null and cm.debtCode != ''">
				and DEBT_CODE = #{cm.debtCode}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (SENDER_ like '%'||#{cm.keyword}||'%')
			</if>
		</where>
	</select>
		
</mapper>