<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.BizTemporarySaveMapper">
  <select id="selectIdPage" resultType="java.lang.Long">
		select id_ from BIZ_TMPSAVE
		<where>
			<if test="cm.deptCode != null and cm.deptCode != ''">
				and DEPT_CODE = #{cm.deptCode}
			</if>
			<if test="cm.bizcode != null and cm.bizcode != ''">
				and BIZ_CODE = #{cm.bizcode}
			</if>
			<if test="cm.taskid != null and cm.taskid != ''">
				and TASK_ID = #{cm.taskid}
			</if>
			<if test="cm.exclId != null and cm.exclId != ''">
				and TASK_ID != #{cm.exclId}
			</if>
			<if test="cm.excRemark != null and cm.excRemark != ''">
				and REMARK_ != #{cm.excRemark}
			</if>
			<if test="cm.rolid != null and cm.rolid != ''">
				and ROL_ID = #{cm.rolid}
			</if>
			<if test="cm.userid != null and cm.userid != ''">
				and USER_ID = #{cm.userid}
			</if>
			<if test="cm.projectName != null and cm.projectName != ''">
				and PROJECT_NAME = #{cm.projectName}
			</if>
			<if test="cm.remark != null and cm.remark != ''">
				and remark_ = #{cm.remark}
			</if>
			<if test="cm.schemeNum != null and cm.schemeNum != ''">
				and (BIZ_CODE like '%'||#{cm.schemeNum}||'%')
			</if>
			<if test="cm.projectNam != null and cm.projectNam != ''">
				and (PROJECT_NAME like '%'||#{cm.projectNam}||'%')
			</if>
			<if test="cm.applicant != null and cm.applicant != ''">
				and (TASK_ID like '%'|| #{cm.applicant}||'%')
			</if>
			<if test="cm.remark_ != null and cm.remark_ != ''">
				and (REMARK_ like '%'|| #{cm.remark_}||'%')
			</if>
			<if test="cm.roli != null and cm.roli != ''">
				and (ROL_ID like '%'|| #{cm.roli}||'%')
			</if>
			<if test="cm.stateTime != null and cm.stateTime != ''">
				and (CREATE_TIME &gt;= TO_DATE(#{cm.stateTime}||'00:00:00','yyyy-mm-dd hh24:mi:ss'))
			</if>
			<if test="cm.endTime != null and cm.endTime != ''">
				and (CREATE_TIME &lt;= TO_DATE(#{cm.endTime}||'23:59:59','yyyy-mm-dd hh24:mi:ss'))
			</if>
		</where>
	</select>

    <select id="queryByDebtCode" resultType="org.ibase4j.model.BizTemporarySave">
		select
			*
		from
			BIZ_TMPSAVE
		WHERE
			DEBT_CODE = #{debtCode , jdbcType=VARCHAR}
	</select>


</mapper>