<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.BizTRNMapper">

  <select id="selectIdPage" resultType="java.lang.Long">
		select id_ from BIZ_TRN
		<where>
			<if test="cm.inidattim != null and cm.inidattim != ''">
				and INIDATTIM = #{cm.inidattim}
			</if>
			<if test="cm.objtype != null and cm.objtype != ''">
				and OBJTYP = #{cm.objtype}
			</if>
			<if test="cm.objInr != null and cm.objInr != ''">
				and OBJINR = #{cm.objInr}
			</if>
			<if test="cm.inifrm != null and cm.inifrm != ''">
				and INIFRM = #{cm.inifrm}
			</if>
			<if test="cm.iniusr != null and cm.iniusr != ''">
				and INIUSR = #{cm.iniusr}
			</if>
			<if test="cm.ownref != null and cm.ownref != ''">
				and OWNREF = #{cm.ownref}
			</if>
			<if test="cm.bchkeyinr != null and cm.bchkeyinr != ''">
				and BCHKEYINR = #{cm.bchkeyinr}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (ININAM like #{cm.keyword}||'%' OR OWNREF like #{cm.keyword}||'%' OR INIFRM like #{cm.keyword}||'%')
			</if>
		</where>
	</select>
		
		
	<!-- 多表连查结果集分页的实例 -->
	<select id="selectResultPage" resultType="java.util.Map">
		SELECT 
			a.BCHKEYINR,
			a.INIFRM,
			a.OBJINR,
			a.ININAM,
			a.INIDATTIM,
			a.RELRES,
			b.NAME_ as businessTypeName 
		FROM BIZ_TRN a left join BIZ_PRODUCT_TYPES b 
		ON a.BUSINESS_TYPES=b.CODE_
		<where>
			<if test="cm.objtype != null and cm.objtype != ''">
				AND a.OBJTYP = #{cm.objtype}
			</if>
			<if test="cm.bchkeyinr != null and cm.bchkeyinr != ''">
				AND a.BCHKEYINR = #{cm.bchkeyinr}
			</if>
			<if test="cm.enable != null and cm.enable != ''">
				AND a.ENABLE_ = #{cm.enable}
			</if>
		</where>
		ORDER BY a.INIDATTIM DESC
	</select>


    <!-- 方案查询概要信息 -->
	<select id="selectSummaryInfo" resultMap="summaryInfoMap">
        SELECT
        TO_CHAR (t.objinr) ID_,
        t.ownref || replace(lpad(to_char(t.vernum_),3),' ','0') as DEBT_CODE,
        appr.project_name,
        appr.PROPOSER as PROPOSER,
        AA.DEPT_NAME,
        appr.m_Currency as M_CURRENCY,
        appr.solution_amt as SOLUTION_AMT,
        t.biz_status as SOLUTION_STATE,
        appr.HISTORY_STATE as HISTORY_STATE,
        CC.USER_NAME,
        appr.CREATE_TIME,
        appr.UPDATE_TIME,
        appr.PG_EXPI_DATE,
        t.vernum_
        FROM
        BIZ_TRN t
        LEFT JOIN BIZ_APPRSUMMARY_INFO appr
        ON (t.ownref = appr.debt_code and t.vernum_ = appr.vernum_)
        LEFT JOIN
        SYS_DEPT AA
        ON
        (t.bchkeyinr = AA.CODE_)
        LEFT JOIN
        SYS_USER CC
        ON
        (t.CREATE_BY = CC.ID_)
        <where>
            <if test="cm.deptCod != null and cm.deptCod != ''">
                AND (t.BCHKEYINR like '%'||#{cm.deptCod}||'%')
            </if>
            <if test="cm.schemeNum != null and cm.schemeNum != ''">
                AND (t.OWNREF like '%'||#{cm.schemeNum}||'%')
            </if>
            <if test="cm.projectNam != null and cm.projectNam != ''">
                AND (t.OBJNAM like '%'||#{cm.projectNam}||'%')
            </if>
            <if test="cm.applicant != null and cm.applicant != ''">
                AND (t.PROPOSER like '%'||#{cm.applicant}||'%')
            </if>
            <if test="cm.deptCode != null and cm.deptCode != ''">
                AND (AA.CODE_ like '%'||#{cm.deptCode}||'%')
            </if>
            <if test="cm.stateTime != null and cm.stateTime != ''">
                AND (t.UPDATE_TIME &gt;= TO_DATE(#{cm.stateTime}||'00:00:00','yyyy-mm-dd hh24:mi:ss'))
            </if>
            <if test="cm.endTime != null and cm.endTime != ''">
                AND (t.UPDATE_TIME &lt;= TO_DATE(#{cm.endTime}||'23:59:59','yyyy-mm-dd hh24:mi:ss'))
            </if>
            <if test="cm.solutionState != null and cm.solutionState != ''">
                AND (t.biz_status like '%'||#{cm.solutionState}||'%')
            </if>
            <if test="cm.solutionState2 != null and cm.solutionState2 != ''">
                AND t.biz_status &lt;&gt; #{cm.solutionState2}
            </if>
            <if test="cm.solutionState7 != null and cm.solutionState7 != ''">
                AND t.biz_status &lt;&gt; #{cm.solutionState7}
            </if>
            <if test="cm.solutionState8 != null and cm.solutionState8 != ''">
                AND t.biz_status &lt;&gt; #{cm.solutionState8}
            </if>
            <if test="cm.relflg != null and cm.relflg != ''">
                AND t.RELFLG = #{cm.relflg}
            </if>
            <if test="cm.relres != null and cm.relres != ''">
                AND t.RELRES = #{cm.relres}
            </if>
        </where>
	</select>
    <resultMap id="summaryInfoMap" type="org.ibase4j.vo.BizDebtInfo" autoMapping="true">
        <result column="ID_" property="id" javaType="String" jdbcType="VARCHAR" />
        <result column="DEBT_CODE" property="debtCode" javaType="String" jdbcType="VARCHAR" />
        <result column="PROJECT_NAME" property="projectNam" javaType="String" jdbcType="VARCHAR" />
        <result column="PROPOSER" property="proposer" javaType="String" jdbcType="VARCHAR" />
        <result column="DEPT_NAME" property="deptName" javaType="String" jdbcType="VARCHAR" />
        <result column="M_CURRENCY" property="mpc" javaType="String" jdbcType="VARCHAR" />
        <result column="SOLUTION_AMT" property="solutionAmount" javaType="BigDecimal" jdbcType="NUMERIC" />
        <result column="SOLUTION_STATE" property="solutionState" javaType="Long" jdbcType="NUMERIC" />
        <result column="HISTORY_STATE" property="historyState" javaType="String" jdbcType="VARCHAR" />
        <result column="USER_NAME" property="userName" javaType="String" jdbcType="VARCHAR" />
        <result column="CREATE_TIME" property="creatTime" javaType="java.sql.Date" jdbcType="DATE" />
        <result column="UPDATE_TIME" property="updateTime" javaType="java.sql.Date" jdbcType="DATE" />
        <result column="PG_EXPI_DATE" property="pgExpiDate" javaType="java.sql.Date" jdbcType="DATE" />
        <result column="vernum_" property="verNum" javaType="Integer" jdbcType="NUMERIC" />
    </resultMap>



    <!--放款查询概要信息-->
    <select id="getMakeLoansDebts" resultMap="MakeLoansDebtsMap">
        SELECT
        TO_CHAR (A .ID_) ID_,
        t.objinr,
        appr.DEBT_CODE,
        t.ownref,
        t.ownref || replace(lpad(to_char(t.vernum_),3),' ','0') as GRANT_CODE,
        appr.BUSINESS_TYPES,
        t.BIZ_STATUS,
        appr.PASS_DATE,
        CASE t.BIZ_STATUS
        WHEN '1' THEN
        '已变更'
        WHEN '3' THEN
        '已批未放'
        WHEN '4' THEN
        '发放中'
        WHEN '5' THEN
        '已发放'
        WHEN '11' THEN
        '冻结'
        END GRANT_STATUS_STRING,
        appr.SCOPE_BUSIN_PERIOD,
        appr.PROPOSER,
        C.NAME_,
        t.vernum_
        FROM
        BIZ_TRN t
        LEFT JOIN BIZ_APPRSUMMARY_INFO appr
        ON (t.ownref = appr.grant_code and t.vernum_ = appr.vernum_)
        INNER JOIN BIZ_PRODUCT_TYPES C ON A .BUSINESS_TYPES = C.CODE_
        <where>
            t.BIZ_STATUS IN (1,3,4,5,11)
            <if test="cm.grantCode != null and cm.grantCode != ''">
                and (t.GRANT_CODE like '%'||#{cm.grantCode}||'%')
            </if>
            <if test="cm.proposer != null and cm.proposer != ''">
                and (appr.PROPOSER like '%'||#{cm.proposer}||'%')
            </if>
            <if test="cm.productName != null and cm.productName != ''">
                and (C.NAME_ like '%'||#{cm.productName}||'%')
            </if>
            <if test="cm.beginDate != null and cm.beginDate != ''">
                and appr.PASS_DATE &gt;=  TO_DATE(#{cm.beginDate}, 'yyyy-mm-dd')
            </if>
            <if test="cm.endDate != null and cm.endDate != ''">
                and appr.PASS_DATE &lt;= TO_DATE(#{cm.endDate}, 'yyyy-mm-dd')
            </if>
            <if test="cm.institutionCode != null and cm.institutionCode != ''">
                and appr.INSTITUTION_CODE = #{cm.institutionCode}
            </if>
        </where>
    </select>
    <resultMap id="MakeLoansDebtsMap" type="java.util.HashMap" >
    <!--<resultMap id="MakeLoansDebtsMap" type="org.ibase4j.vo.BizDebtInfo" autoMapping="true">-->
        <result column="ID_" property="inr" jdbcType="VARCHAR" />
        <result column="OBJINR" property="objInr" jdbcType="VARCHAR" />
        <result column="OWNREF" property="ownref" javaType="String" jdbcType="VARCHAR" />
        <result column="DEBT_CODE" property="debtCode" jdbcType="VARCHAR" />
        <result column="GRANT_CODE" property="grantCode" jdbcType="VARCHAR" />
        <result column="GRANT_STATUS" property="grantStatus" jdbcType="INTEGER" />
        <result column="GRANT_STATUS_STRING" property="grantStatusString" jdbcType="VARCHAR" />
        <result column="CREATE_TIME" property="createTime" jdbcType="DATE"/>
        <result column="PASS_DATE" property="passDate" jdbcType="DATE"/>
        <result column="BUSINESS_TYPES" property="businessTypes" jdbcType="VARCHAR"/>
        <result column="NAME_" property="productName" jdbcType="VARCHAR" />
        <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR" />
        <result column="USER_NAME" property="bankTellName" jdbcType="VARCHAR" />
        <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
        <result column="CREDIT_RATIO" property="creditRatio" jdbcType="DOUBLE" />
        <result column="CREDIT_LINE_NAME" property="creditLineName" jdbcType="VARCHAR" />
        <result column="CUST_NAME_CN" property="custNameCn" jdbcType="VARCHAR" />
        <result column="PROPOSER" property="proposer" jdbcType="VARCHAR" />
        <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" />
        <result column="PROPOSER_NUM" property="proposerNum" jdbcType="VARCHAR" />
        <result column="SCOPE_BUSIN_PERIOD" property="scopeBusinPeriod" jdbcType="INTEGER" />
        <result column="GRACE_PERIOD" property="gracePeriod" jdbcType="INTEGER" />
        <result column="TOIERANCE_PERIOD" property="toierancePeriod" jdbcType="INTEGER" />
        <result column="BANK_TELL_ID" property="bankTellId" jdbcType="BIGINT" />
        <result column="PAYMENT_AMT" property="paymentAmt" jdbcType="DOUBLE" />
        <result column="AMT" property="amt" jdbcType="DOUBLE" />
        <result column="IOU_CODE" property="iouCode" jdbcType="VARCHAR" />
        <result column="IDENT_NUMBER" property="identNumber" jdbcType="VARCHAR" />
        <result column="CUST_NO" property="custNo" jdbcType="VARCHAR" />
        <result column="CREDIT_NO" property="creditNo" jdbcType="VARCHAR" />
        <result column="AMOUNT_TYPE" property="amountType" jdbcType="VARCHAR" />
        <result column="SEND_DATE" property="sendDate" jdbcType="DATE"/>
        <result column="END_DATE" property="endDate" jdbcType="DATE"/>
        <result column="vernum_" property="verNum" javaType="Integer" jdbcType="NUMERIC" />
    </resultMap>

	
</mapper>