<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.WfInsTaskMapper">

    <select id="selectRoleId" resultType="java.util.HashMap">
        select DISTINCT(A.ACTIVITY_NAME),A.PROCESS_INS_ID from WF_INS_TASK A
        <where>
            A.STATUS='1'
            <if test="cm.piid != null and cm.piid != ''">
                and A.PROCESS_INS_ID = #{cm.piid}
            </if>
        </where>
    </select>

    <update id="updateInfo">
        update WF_INS_TASK A set A.STATUS='0'
        <where>
            1=1
            <if test="cm.piid != null and cm.piid != ''">
                and A.PROCESS_INS_ID = #{cm.piid}
                and STARTED_DATE IS NULL
            </if>
        </where>
    </update>

    <update id="updateAllInfo">
        update WF_INS_TASK A set A.STATUS='0'
        <where>
            1=1
            <if test="cm.piid != null and cm.piid != ''">
                and A.PROCESS_INS_ID = #{cm.piid}
            </if>
        </where>
    </update>


    <select id="selectRoleIdPrevious" resultType="java.util.HashMap">
        SELECT DISTINCT
        B.ACTIVITY_NAME
        FROM
        WF_INS_TASK B
        <where>
            B.LAST_MODIFIED_DATE =
            (
            SELECT
            max( A.LAST_MODIFIED_DATE ) LAST_MODIFIED_DATE
            FROM
            WF_INS_TASK A
            <where>
                A.STATUS = '3'
                <if test="cm.piid != null and cm.piid != ''">
                    and A.PROCESS_INS_ID = #{cm.piid}
                    and A.PROCESS_INS_ID =B.PROCESS_INS_ID
                </if>
            </where>
            )
        </where>
    </select>

    <select id="selectUserIdStart" resultType="java.util.HashMap">
        SELECT DISTINCT
        B.USER_NAME
        FROM
        WF_INS_TASK C,SYS_USER B
        <where>
            C. LAST_MODIFIED_DATE =
            (
            SELECT
            min ( A.LAST_MODIFIED_DATE ) LAST_MODIFIED_DATE
            FROM
            WF_INS_TASK A
            <where>
                (A.STATUS = '3' or A.STATUS = '0')
                <if test="cm.piid != null and cm.piid != ''">
                    and A.PROCESS_INS_ID = #{cm.piid}
                    and A.PROCESS_INS_ID =C.PROCESS_INS_ID
                </if>
            </where>
            )
            and C.USER_ID=B.ID_
        </where>
    </select>
    <!--根据piid查询task  -->
    <select id="selectWfInsTaskListByPiid" resultType="java.util.HashMap">
      SELECT * FROM WF_INS_TASK WHERE PROCESS_INS_ID = #{cm.piid} ORDER BY RECEIVED_DATE
    </select>
</mapper>