<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->

<!-- 导航条 -->
<div class="bg-white bread-crumb">
    <ul class="breadcrumb b-a m-b-n-xs lter b-b wrapper-md">
        <li><a ui-href="main"><i class="fa fa-home"></i> 首页</a></li>
        <li class="active" ng-bind="title"></li>
    </ul>
</div>

<!-- 加载提醒 -->
<div ng-show="loading" class="text-center m-t-md text-lg"><i class="fa fa-spin fa-spinner"></i> 数据加载中...</div>

<!-- 内容区域 -->
<div ng-hide="loading" class="wrapper-md content">
    <!-- 数据显示 -->
    <div class="wrapper-data">
        <div class="panel panel-default">
            <!-- 头部 -->
            <div class="panel-heading clearfix">
                <a class="btn btn-info pull-right" ng-click="disableItem(1)">
                    <i class="fa fa-check m-r-xs text-sm"></i>岗位解冻
                </a>
                <a class="btn btn-info pull-right" ng-click="disableItem(0)">
                    <i class="fa fa-ban m-r-xs text-sm"></i>岗位冻结
                   </a>
                <a class="btn btn-info pull-right" ng-click="edit()">
                    <i class="fa fa-edit m-r-sm text-md"></i> 岗位修改
                </a>
                <a ui-sref="main.sys.role.create" class="btn btn-info pull-right">
                    <i class="fa fa-plus m-r-sm text-md"></i> 管理岗新增
                </a>
                <a ui-sref="main.sys.role.add" class="btn btn-info pull-right">
                    <i class="fa fa-plus m-r-sm text-md"></i> 业务岗新增
                </a>
                    
                <div class="w-lg">
                    <form ng-submit="query()" class="ng-pristine ng-valid">
                        <div class="input-group search-box">
                            <input type="text" class="form-control" ng-model="param.keyword" placeholder="岗位名称或代码">
                            <i ng-show="user.keyword" ng-click="clearSearch()" class="fa fa-mail-reply-circle text-muted search-clear"></i>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <!-- 数据表格 -->
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                    <tr >
                    	<th class="v-middle" style="width:50px;" >选择</th>
                    	<th class="v-middle" style="width:50px;" >序号</th>
	                    <th  width="*px" style="min-width:170px;">岗位名称</th>
	                    <th  width="90px">岗位类型</th>
	                    <th class="v-middle" width="60px">状态</th>
	                    <th class="v-middle" width="400px">权限</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in pageInfo.data"  ng-click="onCheckedRow(pageInfo.data,item)">
                    	<td class="v-middle"><input type="checkbox" ng-model="item.checked"  ng-click="selectOne(item.checked,item.id)"></td>
                    	<td class="v-middle">{{(pageInfo.current-1)*pageInfo.size+$index+1}}</td>
	                    <td class="v-middle">{{item.roleName}}</td>
	                    <td class="v-middle">
	                    	<span ng-switch="item.roleType">
                            <span ng-switch-when="1">业务岗位</span>
                            <span ng-switch-when="2">管理岗位</span>                       
                        </span>
	                    </td>
	                    <td class="v-middle">
	                        <span ng-hide="item.enable==1" class="text-danger">禁用</span>
	                        <span ng-show="item.enable==1" class="text-success">启用</span>
	                    </td>
	                    <td class="v-middle">
	                    	<div style="min-width:400px;" ng-bind-html="item.permission | label:';' |trustHtml"></div>
	                    </td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- /.table-responsive -->

            <!-- 底部分页 -->
			<span data-ng-include=" 'src/tpl/pageInfo.html' "></span>
        </div><!-- /.panel -->
    </div><!-- /.wrapper-data -->

</div><!-- /.wrapper-md -->