<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off">
	<properties>
		<property name="LOG_HOME">${logback.config.path}</property>
		<property name="SERVER_NAME">${project.artifactId}</property>
		<property name="OUTPUT_LOG_LEVEL">DEBUG</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level [%C{1}:%L] - %msg%n" />
		</Console>
		<RollingFile name="RollingFile"
					 fileName="${LOG_HOME}/Sys_${SERVER_NAME}.log"
					 filePattern="${LOG_HOME}/${date:yyyyMMdd}/Sys_${SERVER_NAME}.%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level [%C{36}.%M] - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<Filters>
				<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
			<DefaultRolloverStrategy>
				<!-- 删除指定目录下7天之前的日志-->
				<Delete basePath="${LOG_HOME}" maxDepth="2">
					<IfFileName glob="*/*.log" />
					<IfLastModified age="180d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		<RollingFile name="ProductLog"
					 fileName="${LOG_HOME}/Product_${SERVER_NAME}.log"
					 filePattern="${LOG_HOME}/${date:yyyyMMdd}/Product_${SERVER_NAME}.%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss.SSS} [%thread] %level [%C{36}.%M:%L] - %msg%xEx%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
		</RollingFile>
	</appenders>

	<loggers>
		<logger name="org.slf4j" level="INFO" />
		<logger name="org.quartz" level="INFO" />
		<logger name="org.redisson" level="INFO" />
		<logger name="com.alibaba" level="WARN" />
		<logger name="com.alibaba.dubbo" level="INFO" />
		<logger name="org.springframework" level="INFO" />
		<logger name="org.apache.zookeeper" level="WARN" />
		<logger name="com.baomidou.mybatisplus" level="INFO" />
		<logger name="org.springframework.web" level="${OUTPUT_LOG_LEVEL}" />
		<Logger  name="org.ibase4j" level="${OUTPUT_LOG_LEVEL}" additivity="false" includeLocation="true">
			<appender-ref ref="Console" />
			<appender-ref ref="ProductLog" />
		</Logger >
		<Root  level="DEBUG">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
			<appender-ref ref="RollingFileError" />
		</Root >
	</loggers>
</configuration>