<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->

<!-- 导航条 -->
<div class="bg-white bread-crumb">
	<ul class="breadcrumb b-a m-b-n-xs lter b-b wrapper-md">
		<li>
			<a ui-href="main">
				<i class="fa fa-home"></i> 首页</a>
		</li>
		<li class="active" ng-bind="title"></li>
	</ul>
</div>

<!-- 加载提醒 -->
<div ng-show="loading" class="text-center m-t-md text-lg">
	<i class="fa fa-spin fa-spinner"></i> 数据加载中...
</div>

<!--<td class="v-middle"><a
	ui-sref="main.post.checkPlan.update({id:item.id, classifyid:item.classfyLevelId})"
	class="btn btn-sm btn-default"> <i
	class="fa fa-edit m-r-xs text-sm"></i>编辑
</a> </td>-->


<!-- 内容区域 -->
<div ng-hide="loading" class="wrapper-md content">
	<!-- 数据显示 -->
	<div class="wrapper-data">
		<div class="panel panel-default">
			<!-- 头部 -->
			<div class="panel-heading clearfix">
				<a class="btn btn-info pull-right" ng-click="edit()">
					<i class="fa fa-edit m-r-sm text-md"></i> 检查计划修改
				</a>
				<a ui-sref="main.post.checkPlan.add" class="btn btn-info pull-right">
					<i class="fa fa-plus m-r-sm text-md"></i> 检查计划新增
				</a>
				<div class="w-lg">
					<form ng-submit="query()" class="ng-pristine ng-valid">
						<div class="input-group search-box">
							<input type="text" class="form-control" ng-model="param.keyword" placeholder="检查计划名称...">
							<i ng-show="user.keyword" ng-click="clearSearch()" class="fa fa-mail-reply-circle text-muted search-clear"></i>
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					</form>
				</div>
			</div>

			<!--<button onclick="openWin('http://localhost/#/common/customer/list','查询客户')">查询客户</button>-->
			<!-- 数据表格 -->

			<div class="table-responsive">

				<table class="table table-striped b-t b-light text-center">
					<thead>
						<tr>
							<th style="width:50px;">选择</th>
							<th style="width:50px;">序号</th>
							<th width="200px;">检查计划名称</th>
							<th width="100px;">检查计划时间</th>
							<th width="200px;">风险分类等级</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pageInfo.data" ng-click="onCheckedRow(pageInfo.data,item)">
							<td class="v-middle">
								<input type="checkbox" ng-model="item.checked" ng-click="selectOne(item.checked,item.id)">
							</td>
							<td class="v-middle">{{(pageInfo.current-1)*pageInfo.size+$index+1}}</td>
							<td class="v-middle">{{item.ckName}}</td>
							<td class="v-middle">{{item.ckTime}}</td>
							<td class="v-middle">
								<div ng-repeat="x in classifyList">
									<span ng-if="item.classfyLevelId==x.id">{{x.clName}}</span>
								</div>
							</td>

						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.table-responsive -->

			<!-- 底部分页 -->
			<span data-ng-include=" 'src/tpl/pageInfo.html' "></span>
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.wrapper-data -->

</div>
<!-- /.wrapper-md -->
<!--<script type="text/javascript"> 
	//从cookie读取数据
	function cookie() {  
    /* read 读取 */  
        // 获取当前域下所有的 cookie，保存到 cookies 数组中  
        var cookies = document.cookie.split("; ");  
        // 遍历 cookies 数组中的每个元素  
        for (var i = 0, len = cookies.length; i < len; i++) {  
            // cookies[i] : 当前遍历到的元素，代表的是 "key=value" 意思的字符串，  
            // 将字符串以 = 号分割返回的数组中第一个元素表示 key，  
            // 第二个元素表示 value  
            var cookie = cookies[i].split("=");  
            // 判断是否是要查找的 key，对查找的 key 、value 都要做解码操作  
            if (decodeURIComponent(cookie[0]) === "custNo") {  
                var custNo_1 = decodeURIComponent(cookie[1]);
                document.getElementById("custNo").value(custNo_1);
            }
            if (decodeURIComponent(cookie[0]) === "custNameCN") {  
                var custNameCN_1 = decodeURIComponent(cookie[1]);
                document.getElementById("custNameCN").value(custNameCN_1);
            }
        }  
        // 没有查找到指定的 key 对应的 value 值，则返回 null  
        return null;  
      
	/**
   * 查看窗口
   * @param url
   * @param winTitle
   */
function openWin(url,winTitle){
	var returnVal = null;
	var openUrl = url;
	var iWidth=800; //弹出窗口的宽度;
	var iHeight=500; //弹出窗口的高度;
	var iTop = (window.screen.availHeight-30-iHeight)/2; //获得窗口的垂直位置;
	var iLeft = (window.screen.availWidth-10-iWidth)/2; //获得窗口的水平位置;
	var w_title = winTitle==null?'':winTitle;
	var wd = window.open(openUrl,w_title,"height="+iHeight+", width="+iWidth+", top="+iTop+", left="+iLeft+",resizable=yes,scrollbars=yes");
	if (wd){
		window.wd.focus();//判断窗口是否打开,如果打开,窗口前置  
	}
	if(wd.closed){
		returnVal = window.returnVaule;//子窗体返回值
	}
}
//		function SearchCustomer(){
//		   window.open("http://localhost/#/common/customer/list" , "_self");
//	} 
	</script>-->