<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->

<!-- 导航条 -->
<div class="bg-white bread-crumb">
    <ul class="breadcrumb b-a m-b-n-xs lter b-b wrapper-md">
        <li><a ui-sref="main"><i class="fa fa-home"></i>首页</a></li>
        <li><a ui-sref="main.sys.emailTemplate.list">邮件模板管理</a></li>
        <li class="active" id="biaoti" ng-bind="title"></li>
    </ul>
</div>

<!-- 加载提醒 -->
<!--<div ng-show="loading" class="text-center m-t-md text-lg"><i class="fa fa-spin fa-spinner"></i> 数据加载中...</div>-->

<!-- 内容区域 -->
<div class="wrapper-md content">
    <!-- 数据显示 -->
    <div class="panel panel-default">
        <!-- 头部 -->
        <div class="panel-heading font-bold">{{title}}
            <a class="btn btn-sm btn-icon btn-rounded btn-default pull-right m-t-n-xs" ui-sref="main.sys.emailTemplate.list"><i
                    class="text-md fa fa-mail-reply text-muted" title="关闭"></i></a>
        </div>
        <!--表单-->
        <div class="panel-body">
            <form class="form-horizontal" name="user_form">
                <!--用户名-->
                <div class="form-group" id="emailConfigs">
                    <label class="col-lg-2 col-sm-3 control-label">
                        <span class="text-danger wrapper-sm">*</span>模板名称</label>
                    <div class="col-sm-6">
                        <input type="hidden" id="biaoji" value="{{record.id}}" ng-model="record.id" />
                        <input type="text" onblur="emailNameJiaoYan(this.value)" id="emailName" name="emailName" class="form-control"
                            placeholder="请输入模板名称..." ng-model="record.emailName">
                        <span style="color: red;" id="emailNameTest"></span>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-3 control-label">
                        <span class="text-danger wrapper-sm"></span>描述</label>
                    <div class="col-sm-6">
                        <input type="text" id="emailAccount" onblur="accountJiaoYan()" name="emailAccount" class="form-control"
                            placeholder="请输入描述..." ng-model="record.emailAccount">
                        <span style="color: red;" id="accountTest"></span>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-3 control-label">
                        <span class="text-danger wrapper-sm">*</span>标题</label>
                    <div class="col-sm-6">
                        <input type="text" onblur="titleJiaoYan()" id="title" name="title" class="form-control"
                            placeholder="请输入标题..." ng-model="record.title">
                        <span style="color : red;" id="titleTest"></span>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-3 control-label">
                        <span class="text-danger wrapper-sm">*</span>所属模块</label>
                    <div class="col-sm-6">
                        <input type="text" onblur="typeJiaoYan()" id="type" name="type" class="form-control"
                            placeholder="请输入邮件类型..." ng-model="record.type">
                        <span style="color : red;" id="typeTest"></span>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <!--所属机构-->
                <div class="form-dept">
                    <label class="col-lg-2 col-sm-3 control-label">
                        <span class="text-danger wrapper-sm">*</span>所属机构</label>
                    <div class="col-sm-6">
                        <div class="selects">
                            <select id="deptCode" name="deptCode" class="form-control" value="" onclick="parentCodeJiaoYan(this.value)"
                                ng-model="record.deptCode" class="selects" ng-options="x.code as x.deptName for x in orgList"></select>
                            <span style="color: red;" id="parentCodetest"></span>
                        </div>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-3 control-label">
                        <span class="text-danger wrapper-sm"></span>备注</label>
                    <div class="col-sm-6">
                        <input type="text" id="remark" name="remark" class="form-control" placeholder="请输入备注..."
                            ng-model="record.remark">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-3 control-label">
                        <span class="text-danger wrapper-sm">*</span>模板正文</label>
                    <div class="col-sm-6">
                        <textarea rows="16" onblur="templateJiaoYan()" class="form-control col-sm-6" id="template" name="template"
                            placeholder="请输入正文..." ng-model="record.template" style="margin: 0px -1.2px 0px 0px; height: 320px;">
                        </textarea>
                        <span style="color : red;" id="templateTest"></span>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button type="button" id="submitBtn" onclick="test(document.getElementById('emailName').value , document.getElementById('deptCode').value)"
                            class="btn btn-info w-xs m-l-xl" ng-disabled="isDisabled">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function accountJiaoYan() {
            if ($('#emailAccount').val().length > 5) {
                $('#accountTest').text("请不要超过5个字符");
            } else {
                $('#accountTest').text("");
            }
        }

        function typeJiaoYan() {
            if ($('#type').val() == null || $('#type').val().trim() == '') {
                $('#typeTest').text("请输入所属模块");
            } else if ($('#type').val().length > 5) {
                $('#typeTest').text("请不要超过5个字符");
            } else {
                $('#typeTest').text("");
            }
        }

        function titleJiaoYan() {
            if ($('#title').val() == null || $('#title').val().trim() == '') {
                $('#titleTest').text("请输入标题");
            } else {
                $('#titleTest').text("");
            }
        }

        function templateJiaoYan() {
            if ($('#template').val() == null || $('#template').val().trim() == '') {
                $('#templateTest').text("请输入模版正文");
            } else {
                $('#templateTest').text("");
            }
        }
        //所属机构的非空校验
        function parentCodeJiaoYan(parentCode) {
            if (parentCode == '?' || parentCode == '' || parentCode == null) {
                $("#parentCodetest").text("请选择所属机构");
            } else {
                $("#parentCodetest").text("");
            }
        }

        function emailNameJiaoYan(emailName) {

            // jQuery.ajax({
            // 	url:'/eximbank-console/emailTemplate/read/emailName',
            // 	type:'GET',
            // 	async:false,
            // 	data:{
            //         account:emailName
            //     },
            // 	dataType:'json',
            // 	success:function(data){
            if ($("#emailName").val() == null || $("#emailName").val().trim() == '') {
                $("#emailNameTest").text("请输入模版名称");
            } else {
                $("#emailNameTest").text("");
            }

        }
        // });
        // }

        function test(codeText, parentCode) {
            $("#submitBtn").attr("type", "button");
            if ($("#biaoji").val() == null || $("#biaoji").val() == '') {
                emailNameJiaoYan(codeText);
            }
            parentCodeJiaoYan(parentCode);
            templateJiaoYan();
            titleJiaoYan();
            typeJiaoYan();
            accountJiaoYan();
            if ($('#accountTest').text() == "" && $("#emailNameTest").text() == "" && $("#templateTest").text() == "" &&
                $("#titleTest").text() == "" && $("#typeTest").text() == "" && $("#parentCodetest").text() == "") {
                $("#submitBtn").attr("type", "submit");
            }
        }
    </script>